.css_personal_schedule_creator_field .css_personal_schedule_creator_body .css_personal_schedule_creator_groups .css_personal_schedule_creator_group[group="schedule-days"] .css_personal_schedule_creator_group_body .css_personal_schedule_creator_day {
  position: relative;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(50px - 10px);
  color: var(--b-cssvar-333333);
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  border-radius: var(--b-cssvar-border-radius-normal);
  transition: color var(--b-cssvar-transition-duration), background-color var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  padding-left: 5px;
  box-sizing: border-box;
}

.css_personal_schedule_creator_field .css_personal_schedule_creator_body .css_personal_schedule_creator_groups .css_personal_schedule_creator_group[group="schedule-days"] .css_personal_schedule_creator_group_body .css_personal_schedule_creator_day:last-child {
  margin-bottom: 10px;
}

.css_personal_schedule_creator_field .css_personal_schedule_creator_body .css_personal_schedule_creator_groups .css_personal_schedule_creator_group[group="schedule-days"] .css_personal_schedule_creator_group_body .css_personal_schedule_creator_day[highlighted="true"] {
  background-color: var(--b-cssvar-main-color-16-flattened);
  color: var(--b-cssvar-main-color);
}