/* body > chart */
.css_data_usage_field .css_data_usage_body .css_data_usage_chart {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  background: var(--b-cssvar-ffffff-blocky);
  display: inline-block;
  border-radius: var(--b-cssvar-border-radius-normal);
  margin-top: calc(10px + 55px);
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-d));
  font-size: 15px;
  font-weight: 400;
}

/* body > chart > svg */
.css_data_usage_field .css_data_usage_body .css_data_usage_chart svg {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}
