.css_save_to_folder_field .css_save_to_folder_body .css_save_to_folder_list .css_save_to_folder_list_item {
  position: relative;
  width: 100%;
  height: 55px;
}

.css_save_to_folder_field .css_save_to_folder_body .css_save_to_folder_list .css_save_to_folder_list_item .css_save_to_folder_item_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
}

.css_save_to_folder_field .css_save_to_folder_body .css_save_to_folder_list .css_save_to_folder_list_item .css_save_to_folder_item_icon span.css_material_symbols_rounded {
  position: absolute;
  top: calc((55px - 20px) / 2);
  left: calc((55px - 20px) / 2);
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_save_to_folder_field .css_save_to_folder_body .css_save_to_folder_list .css_save_to_folder_list_item .css_save_to_folder_item_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px - 10px);
  height: 55px;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  font-weight: 400;
  line-height: 55px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
  text-overflow: ellipsis;
}