@property --b-cssvar-notification-schedule-manager-update-timer-offset-ratio {
  syntax: '<number>';
  inherits: false;
  initial-value: -1;
}

@property --b-cssvar-notification-schedule-manager-update-timer-interval {
  syntax: '<time>';
  inherits: false;
  initial-value: 0ms;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_left,
.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_right {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_left span.css_material_symbols_rounded,
.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_button_right span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--b-cssvar-333333);
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_update_timer_box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  overflow: clip;
  background: var(--b-cssvar-ededf2);
  contain: layout;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_update_timer_box .css_notification_schedule_manager_update_timer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--b-cssvar-333333-33-flattened);
  contain: layout;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_update_timer_box .css_notification_schedule_manager_update_timer[refreshing="true"] {
  transform: translateX(calc(var(--b-cssvar-notification-schedule-manager-update-timer-offset-ratio) * 100%));
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_head .css_notification_schedule_manager_update_timer_box .css_notification_schedule_manager_update_timer.css_notification_schedule_manager_update_timer_slide_rtl {
  animation-name: slideRTL;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: var(--b-cssvar-notification-schedule-manager-update-timer-interval);
}