/* item */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: clip;
  contain: layout;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[first="true"] {
  margin-top: 10px;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[first="false"] {
  margin-top: 5px;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item:first-child {
  margin-top: 0px;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item:last-child {
  margin-bottom: 0px;
}

/* item > hours */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_hours {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  font-size: 20px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: inherit;
  contain: layout;
  overflow: clip;
}

.css_notification_schedule_manager_field[displayed="true"] .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[first="true"] .css_notification_schedule_manager_item_hours {
  visibility: visible;
}

.css_notification_schedule_manager_field[displayed="true"] .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[first="false"] .css_notification_schedule_manager_item_hours {
  visibility: hidden;
}

/* skeleton-screen: true */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[skeleton-screen="true"] .css_notification_schedule_manager_item_hours::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: var(--b-cssvar-border-radius-medium);
}

/* item > notification-schedule */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule {
  position: absolute;
  top: 0px;
  left: calc(50px + 5px);
  width: calc(100% - 50px - 5px);
  height: 50px;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  contain: layout;
  overflow: clip;
}

/* item > notification-schedule > minutes */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_minutes {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  contain: layout;
  overflow: clip;
}

/* skeleton-screen: true */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_minutes::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: var(--b-cssvar-border-radius-medium);
}

/* item > notification-schedule > context */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_context {
  position: absolute;
  top: 7.5px;
  left: 50px;
  width: calc(100% - 50px - 50px);
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: var(--b-cssvar-333333-70-flattened);
  contain: layout;
  word-break: keep-all;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}

/* skeleton-screen: true */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_context {
  border-radius: var(--b-cssvar-border-radius-normal);
  color: rgba(0, 0, 0, 0);
}

/* item > notification-schedule > main */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_main {
  position: absolute;
  top: 21.5px;
  left: 50px;
  width: calc(100% - 50px - 50px);
  height: 23px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  contain: layout;
  overflow: clip;
  text-overflow: ellipsis;
}

/* skeleton-screen: true */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_main {
  top: calc(21.5px + 5px);
  height: calc(23px - 5px);
  border-radius: var(--b-cssvar-border-radius-normal);
  color: rgba(0, 0, 0, 0);
}

/* item > notification-schedule > cancel */
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--b-cssvar-ededf2);
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_cancel span.css_material_symbols_rounded {
  width: 15px;
  height: 15px;
  color: var(--b-cssvar-333333);
  font-size: 18px;
  visibility: inherit;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_cancel span.css_material_symbols_rounded {
  visibility: hidden;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="true"][skeleton-screen="true"] .css_notification_schedule_manager_item_hours::after,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="true"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_minutes::after,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="true"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_context,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="true"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_main,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="true"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_cancel {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-50-flattened) 0%, var(--b-cssvar-ffffff-blocky) 50%, var(--b-cssvar-ededf2-50-flattened) 100%);
  background-size: 400% 100%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="false"][skeleton-screen="true"] .css_notification_schedule_manager_item_hours::after,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="false"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_minutes::after,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="false"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_context,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="false"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_main,
.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list .css_notification_schedule_manager_item[animation="false"][skeleton-screen="true"] .css_notification_schedule_manager_item_notification_schedule .css_notification_schedule_manager_item_notification_schedule_cancel {
  background: var(--b-cssvar-ededf2);
}