.css_notification_schedule_manager_field .css_notification_schedule_manager_body .css_notification_schedule_manager_notification_schedule_list {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  height: auto;
  display: inline-block;
  margin-top: calc(var(--b-cssvar-safe-area-top) + 55px + 10px);
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}