.home_page_field .home_page_body .home_page_folders {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_head .home_page_folder_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_head .home_page_folder_icon svg {
  height: 15px;
  width: 15px;
  user-select: none;
  -webkit-user-select: none;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_head .home_page_folder_icon svg path {
  fill: var(--b-333333);
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_head .home_page_folder_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-333333);
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-ffffff);
  border-radius: 20px;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status {
  position: absolute;
  top: 7.5px;
  left: 10px;
  height: 35px;
  width: 70px;
  border-radius: 25px;
  overflow: hidden;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide,
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 70px;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b-333333);
  font-size: 13px;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  background: var(--b-e5e5ea);
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="6"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="6"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="5"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="5"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="4"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="4"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="3"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="3"] {
  color: rgba(var(--b-333333-r), var(--b-333333-g), var(--b-333333-b), var(--b-333333-opacity-c));
  font-size: 13px;
  font-weight: 500;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="2"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="2"] {
  color: var(--b-ffffff);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-main-color);
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .next_slide[code="1"],
.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .current_slide[code="1"] {
  color: var(--b-333333);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-main-color-solid-transparent-c)
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_status .slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-transition-duration);
  animation-fill-mode: forwards;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_route {
  position: absolute;
  top: 7.5px;
  left: 85px;
  width: calc(100% - 85px - 50px);
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: rgba(var(--b-333333-r), var(--b-333333-g), var(--b-333333-b), 0.7);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.home_page_field .home_page_body .home_page_folders .home_page_folder .home_page_folder_content .home_page_folder_item_stop .home_page_folder_item_stop_name {
  position: absolute;
  top: 21.5px;
  left: 85px;
  width: calc(100% - 85px - 50px);
  font-size: 16px;
  height: 23px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--b-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}