.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body {
  height: 60px;
  white-space: nowrap;
  word-break: keep-all;
  overflow-y: hidden;
  overflow-x: scroll;
  background: rgba(0, 0, 0, 0);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  vertical-align: top;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button[animation="true"] {
  transition: background-color var(--b-cssvar-transition-duration);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button[highlighted="true"] {
  background-color: rgba(var(--b-cssvar-main-color-r), var(--b-cssvar-main-color-g), var(--b-cssvar-main-color-b), var(--b-cssvar-main-color-opacity-d));
  color: var(--b-cssvar-main-color);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button span.css_material_symbols_rounded {
  width: 25px;
  height: 25px;
  user-select: none;
  -webkit-user-select: none;
  color: var(--b-cssvar-333333);
  font-size: 29px;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button[animation="true"] span.css_material_symbols_rounded {
  transition: color var(--b-cssvar-transition-duration), --b-cssvar-font-variation-settings-fill var(--b-cssvar-transition-duration);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="actions"] .css_route_details_group_body .css_route_details_action_button[highlighted="true"] span.css_material_symbols_rounded {
  color: var(--b-cssvar-main-color);
  --b-cssvar-font-variation-settings-fill: 1;
}