/* groups */
.css_route_details_field .css_route_details_body .css_route_details_groups {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

/* groups > group */
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

/* groups > group > head */
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

/* groups > group > head > icon */
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_icon span.css_material_symbols_rounded {
  height: 15px;
  width: 15px;
  font-size: 18px;
  color: var(--b-cssvar-333333);
}

/* groups > group > head > name */
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
}

/* groups > group > head > body */
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_body {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
}