.css_route_details_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-f9f9fb-blocky);
  display: none;
}

.css_route_details_field[displayed="true"] {
  display: block;
}

.css_route_details_field .css_route_details_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(var(--b-cssvar-f9f9fb-blocky-r), var(--b-cssvar-f9f9fb-blocky-g), var(--b-cssvar-f9f9fb-blocky-b), var(--b-cssvar-f9f9fb-opacity-a)) 0%, rgba(var(--b-cssvar-f9f9fb-blocky-r), var(--b-cssvar-f9f9fb-blocky-g), var(--b-cssvar-f9f9fb-blocky-b), var(--b-cssvar-f9f9fb-opacity-b)) 80%, rgba(var(--b-cssvar-f9f9fb-blocky-r), var(--b-cssvar-f9f9fb-blocky-g), var(--b-cssvar-f9f9fb-blocky-b), var(--b-cssvar-f9f9fb-opacity-b)) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.css_route_details_field .css_route_details_head .css_route_details_button_left,
.css_route_details_field .css_route_details_head .css_route_details_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_details_field .css_route_details_head .css_route_details_button_left {
  top: 0px;
  left: 0px;
}

.css_route_details_field .css_route_details_head .css_route_details_button_right {
  top: 0px;
  right: 0px;
}

.css_route_details_field .css_route_details_head .css_route_details_button_left span.css_material_symbols_rounded,
.css_route_details_field .css_route_details_head .css_route_details_button_right span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_route_details_field .css_route_details_head .css_route_details_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_details_field .css_route_details_body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.css_route_details_field .css_route_details_body::-webkit-scrollbar {
  display: none;
}

.css_route_details_field .css_route_details_body .css_route_details_groups {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_icon span.css_material_symbols_rounded {
  height: 15px;
  width: 15px;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  color: var(--b-cssvar-333333);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_head .css_route_details_group_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group .css_route_details_group_body {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  user-select: none;
  -webkit-user-select: none;
}