.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property {
  position: relative;
  width: 100%;
  height: 30px;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property .css_route_details_property_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[skeleton-screen="true"] .css_route_details_property_icon {
  top: 5px;
  height: 20px;
  width: 20px;
  left: 10px;
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property .css_route_details_property_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[skeleton-screen="true"] .css_route_details_property_icon span.css_material_symbols_rounded {
  visibility: hidden;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property .css_route_details_property_value {
  position: absolute;
  top: 0px;
  left: 40px;
  width: calc(100% - 40px - 10px);
  height: 30px;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
  text-overflow: ellipsis;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[skeleton-screen="true"] .css_route_details_property_value {
  top: 5px;
  height: 20px;
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[animation="true"][skeleton-screen="true"] .css_route_details_property_icon,
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[animation="true"][skeleton-screen="true"] .css_route_details_property_value {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-opacity-flattened-a) 0%, rgba(var(--b-cssvar-ffffff-blocky-r), var(--b-cssvar-ffffff-blocky-g), var(--b-cssvar-ffffff-blocky-b), 0.5) 50%, var(--b-cssvar-ededf2-opacity-flattened-a) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[animation="false"][skeleton-screen="true"] .css_route_details_property_icon,
.css_route_details_field .css_route_details_body .css_route_details_groups .css_route_details_group[group="properties"] .css_route_details_group_body .css_route_details_property[animation="false"][skeleton-screen="true"] .css_route_details_property_value {
  background: var(--b-cssvar-ededf2);
}