.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-name"] .css_folder_creator_group_body input {
  position: relative;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0px;
  margin: 0px;
  color: var(--b-cssvar-333333);
  caret-color: var(--b-cssvar-main-color);
  font-size: 20px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-none);
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-name"] .css_folder_creator_group_body input:read-only {
  color: var(--b-cssvar-333333-60-flattened);
}