.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-icon"] .css_folder_creator_group_body .css_folder_creator_icon_input {
  position: relative;
  width: 100%;
  height: 50px;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-icon"] .css_folder_creator_group_body .css_folder_creator_icon_input input {
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px - 50px);
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0px;
  margin: 0px;
  color: var(--b-cssvar-333333);
  caret-color: var(--b-cssvar-main-color);
  font-size: 20px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-none);
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-icon"] .css_folder_creator_group_body .css_folder_creator_icon_input input:read-only {
  color: var(--b-cssvar-333333-60-flattened);
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-icon"] .css_folder_creator_group_body .css_folder_creator_icon_input .css_folder_creator_open_icon_selector {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group[group="folder-icon"] .css_folder_creator_group_body .css_folder_creator_icon_input .css_folder_creator_open_icon_selector span.css_material_symbols_rounded {
  position: absolute;
  top: calc((50px - 20px) / 2);
  left: calc((50px - 20px) / 2);
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}