.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group .css_folder_creator_group_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group .css_folder_creator_group_head .css_folder_creator_group_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group .css_folder_creator_group_head .css_folder_creator_group_icon span.css_material_symbols_rounded {
  position: absolute;
  top: calc((25px - 15px) / 2);
  left: calc((25px - 15px) / 2);
  height: 15px;
  width: 15px;
  color: var(--b-cssvar-333333);
  font-size: 18px;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group .css_folder_creator_group_head .css_folder_creator_group_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
}

.css_folder_creator_field .css_folder_creator_body .css_folder_creator_groups .css_folder_creator_group .css_folder_creator_group_body {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
}