.css_folder_creator_field .css_folder_creator_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: var(--b-cssvar-head-background-transparent);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

/* reduce-transparency: true */
.css_folder_creator_field .css_folder_creator_head[reduce-transparency="true"] {
  background-color: var(--b-cssvar-ffffff-normal);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_left,
.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_right {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_left span.css_material_symbols_rounded,
.css_folder_creator_field .css_folder_creator_head .css_folder_creator_button_right span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--b-cssvar-333333);
}

.css_folder_creator_field .css_folder_creator_head .css_folder_creator_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}