.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[skeleton-screen="true"] .css_storage_statistics_item_name,
.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[skeleton-screen="true"] .css_storage_statistics_item_value {
  background: var(--b-cssvar-ededf2);
}

.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[animation="true"][skeleton-screen="true"] .css_storage_statistics_item_name,
.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[animation="true"][skeleton-screen="true"] .css_storage_statistics_item_value {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-opacity-flattened-a) 0%, var(--b-cssvar-f9f9fb-normal-opacity-flatten-c) 50%, var(--b-cssvar-ededf2-opacity-flattened-a) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}