/* body > statistics */
.css_storage_field .css_storage_body .css_storage_statistics {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  background: var(--b-cssvar-ffffff-blocky);
  display: inline-block;
  border-radius: var(--b-cssvar-border-radius-normal);
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-d));
  font-size: 15px;
  font-weight: 400;
  margin-top: calc(10px + 55px);
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

/* body > statistics > item */
.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
}

/* body > statistics > item > name */
.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item .css_storage_statistics_item_name {
  position: absolute;
  top: 12.5px;
  left: 17.5px;
  width: calc(100% - 17.5px - 80px - 17.5px);
  /* padding: 17.5px + value: 80px + padding: 17.5px */
  height: 30px;
  color: var(--b-cssvar-333333);
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
}

.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[skeleton-screen="true"] .css_storage_statistics_item_name {
  color: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-normal);
  width: calc(100% - 17.5px - 10px - 80px - 17.5px);
}

/* body > statistics > item > value */
.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item .css_storage_statistics_item_value {
  position: absolute;
  top: 12.5px;
  right: 17.5px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-d));
  white-space: nowrap;
  word-break: keep-all;
}

.css_storage_field .css_storage_body .css_storage_statistics .css_storage_statistics_item[skeleton-screen="true"] .css_storage_statistics_item_value {
  color: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-normal);
}