.css_icon_selector_field .css_icon_selector_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_icon_selector_field .css_icon_selector_head .css_icon_selector_search_input {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px);
  height: 55px;
}

.css_icon_selector_field .css_icon_selector_head .css_icon_selector_search_input input {
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: none;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  caret-color: var(--b-cssvar-main-color);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
}

.css_icon_selector_field .css_icon_selector_head .css_icon_selector_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_icon_selector_field .css_icon_selector_head .css_icon_selector_button_left span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}