.css_icon_selector_field .css_icon_selector_body .css_icon_selector_material_symbols .css_icon_selector_material_symbols_symbol[skeleton-screen="true"] {
  background: var(--b-cssvar-ededf2);
}

.css_icon_selector_field .css_icon_selector_body .css_icon_selector_material_symbols .css_icon_selector_material_symbols_symbol[animation="true"][skeleton-screen="true"] {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-opacity-flattened-a) 0%, rgba(var(--b-cssvar-f9f9fb-normal-r), var(--b-cssvar-f9f9fb-normal-g), var(--b-cssvar-f9f9fb-normal-b), 0.5) 50%, var(--b-cssvar-ededf2-opacity-flattened-a) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}