@property --b-cssvar-icon-selector-tray-height {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --b-cssvar-icon-selector-content-translate-y {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

/* tray */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray {
  position: relative;
  overflow: clip;
  height: var(--b-cssvar-icon-selector-tray-height);
}

/* tray > content */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: translateY(var(--b-cssvar-icon-selector-content-translate-y));
}

/* tray > content > item */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--b-cssvar-ffffff-normal);
  overflow: clip;
}

/* stretched: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[stretched="true"] {
  height: calc(50px + 90px);
}

/* tray > content > item > icon */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_item_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top left;
}

/* stretched: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[stretched="true"] .css_icon_selector_item_icon {
  width: calc(50px + 90px);
  height: calc(50px + 90px);
}

.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_item_icon span.css_material_symbols_rounded {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: var(--b-cssvar-333333);
  transform-origin: top left;
}

/* animation: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[animation="true"] .css_icon_selector_item_icon span.css_material_symbols_rounded {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[stretched="true"] .css_icon_selector_item_icon span.css_material_symbols_rounded {
  transform: scale(calc((50 + 90 - 10 - 10) / 30));
}

/* tray > content > item > name */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_list_item_name {
  position: absolute;
  top: 10px;
  left: 50px;
  width: calc(100% - 50px - 90px - 10px - 30px - 15px);
  /* icon (expanded): (50px + 90px) + gap: 10px + stretch: 30px + padding: 15px */
  height: 30px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: clip;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  line-height: 30px;
  /* text-overflow: ellipsis doesn't work with display: flex -> set line-height to container height to center text vertically */
  font-weight: 400;
  contain: layout;
  transform-origin: top left;
}

/* animation: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[animation="true"] .css_icon_selector_list_item_name {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[stretched="true"] .css_icon_selector_list_item_name {
  transform: translateX(90px);
}

/* tray > content > item > stretch */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_list_item_stretch {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b-cssvar-ededf2);
  border-radius: var(--b-cssvar-border-radius-normal);
  overflow: clip;
  contain: layout;
}

.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_list_item_stretch span.css_material_symbols_rounded {
  transform: rotate(0deg);
  color: var(--b-cssvar-333333);
}

/* animation: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[animation="true"] .css_icon_selector_list_item_stretch span.css_material_symbols_rounded {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item[stretched="true"] .css_icon_selector_list_item_stretch span.css_material_symbols_rounded {
  transform: rotate(180deg);
}

/* tray > content > item > body */
.css_icon_selector_field .css_icon_selector_body .css_icon_selector_tray .css_icon_selector_content .css_icon_selector_item .css_icon_selector_list_item_body {
  position: absolute;
  top: 50px;
  left: calc(50px + 90px);
  width: calc(100% - 50px - 90px - 15px);
  visibility: hidden;
}