@keyframes skeleton-loading {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -135% 0%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-rtl {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes countdown {
  0% {
    stroke-dashoffset: -2199px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}