html {
  background-color: var(--b-cssvar-ffffff-normal);
  height: 100vh;
  overscroll-behavior-y: none;
  overflow: clip;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  background-color: var(--b-cssvar-ffffff-normal);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100vh;
  overscroll-behavior-y: none;
  overflow: clip;
}

body::-webkit-scrollbar {
  display: none;
}

body * {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

body input[type="text"] {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}

.css_splash_screen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-ffffff-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  visibility: visible;
}

.css_splash_screen[displayed="false"] {
  visibility: hidden;
}

.css_splash_screen svg.css_splash_screen_icon {
  width: clamp(50px, calc(100vw * 0.45), 160px);
  height: clamp(50px, calc(100vw * 0.45), 160px);
}

.css_splash_screen svg.css_splash_screen_icon path {
  fill: var(--b-cssvar-333333);
}

.css_splash_screen_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}

.css_error_message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-ffffff-normal);
  color: var(--b-cssvar-333333-60-flattened);
  font-size: 16px;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  visibility: hidden;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

.css_error_message[displayed="true"] {
  visibility: visible;
}