.css_page_transition_fade_in {
  animation-name: fadein;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease);
  animation-fill-mode: forwards;
  pointer-events: none;
}

.css_page_transition_fade_out {
  animation-name: fadeout;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease);
  animation-fill-mode: forwards;
  pointer-events: none;
}

.css_page_transition_slide_in_reverse {
  animation-name: fadeout;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease-reverse);
  animation-fill-mode: forwards;
  animation-direction: reverse;
  pointer-events: none;
}

.css_page_transition_slide_out_reverse {
  animation-name: fadein;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease-reverse);
  animation-fill-mode: forwards;
  animation-direction: reverse;
  pointer-events: none;
}