.css_page_transition_slide_in_rtl {
  animation-name: slideIn;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease);
  animation-fill-mode: forwards;
  pointer-events: none;
}

.css_page_transition_slide_out_rtl {
  animation-name: slideOut;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease);
  animation-fill-mode: forwards;
  pointer-events: none;
}

.css_page_transition_slide_in_ltr {
  animation-name: slideOut;
  animation-duration: var(--b-cssvar-page-transition-duration);
  animation-timing-function: var(--b-cssvar-page-transiton-ease-reverse);
  animation-fill-mode: forwards;
  animation-direction: reverse;
  pointer-events: none;
}

.css_page_transition_slide_out_ltr {
  animation-name: slideIn;
  animation-duration: var(--b-cssvar-page-transition-duration)
  animation-timing-function: var(--b-cssvar-page-transiton-ease-reverse);
  animation-fill-mode: forwards;
  animation-direction: reverse;
  pointer-events: none;
}