:root {
  --b-cssvar-main-color: #597aa8;
  --b-cssvar-main-color-r: 89;
  --b-cssvar-main-color-g: 122;
  --b-cssvar-main-color-b: 168;
  --b-cssvar-main-color-opacity-flattened-c: #cdd7e5;

  --b-cssvar-main-color-inflected-to-segment-buffer: #4593b5;
  --b-cssvar-main-color-inflected-to-segment-buffer-r: 69;
  --b-cssvar-main-color-inflected-to-segment-buffer-g: 147;
  --b-cssvar-main-color-inflected-to-segment-buffer-b: 181;
  --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: #d7e3eb;

  --b-cssvar-main-color-inflected-to-user-position: #6354c7;
  --b-cssvar-main-color-inflected-to-user-position-r: 99;
  --b-cssvar-main-color-inflected-to-user-position-g: 84;
  --b-cssvar-main-color-inflected-to-user-position-b: 199;
  --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: #d9d7ec;

  --b-cssvar-main-color-opacity-a: 1;
  --b-cssvar-main-color-opacity-b: 0.8;
  --b-cssvar-main-color-opacity-c: 0.3;
  --b-cssvar-main-color-opacity-d: 0.15;
  --b-cssvar-main-color-opacity-e: 0.11;

  --b-cssvar-ffffff-normal: #ffffff;
  --b-cssvar-ffffff-normal-r: 255;
  --b-cssvar-ffffff-normal-g: 255;
  --b-cssvar-ffffff-normal-b: 255;

  --b-cssvar-ffffff-blocky: #ffffff;
  --b-cssvar-ffffff-blocky-r: 255;
  --b-cssvar-ffffff-blocky-g: 255;
  --b-cssvar-ffffff-blocky-b: 255;

  --b-cssvar-ffffff-opacity-a: 1;
  --b-cssvar-ffffff-opacity-b: 0.6;

  --b-cssvar-f9f9fb-normal: #f9f9fb;
  --b-cssvar-f9f9fb-normal-r: 249;
  --b-cssvar-f9f9fb-normal-g: 249;
  --b-cssvar-f9f9fb-normal-b: 251;

  --b-cssvar-f9f9fb-blocky: #f9f9fb;
  --b-cssvar-f9f9fb-blocky-r: 249;
  --b-cssvar-f9f9fb-blocky-g: 249;
  --b-cssvar-f9f9fb-blocky-b: 251;

  --b-cssvar-f9f9fb-inflected-to-segment-buffer: #f0f3f7;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 240;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 243;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 247;

  --b-cssvar-f9f9fb-inflected-to-user-position: #f2f1f9;
  --b-cssvar-f9f9fb-inflected-to-user-position-r: 242;
  --b-cssvar-f9f9fb-inflected-to-user-position-g: 241;
  --b-cssvar-f9f9fb-inflected-to-user-position-b: 249;

  --b-cssvar-f9f9fb-opacity-a: 1;
  --b-cssvar-f9f9fb-opacity-b: 0.7;

  --b-cssvar-ededf2: #ededf2;
  --b-cssvar-ededf2-r: 237;
  --b-cssvar-ededf2-g: 237;
  --b-cssvar-ededf2-b: 242;
  --b-cssvar-ededf2-opacity-a: 0.5;

  --b-cssvar-ededf2-inflected-to-segment-buffer: #e0e6ee;
  --b-cssvar-ededf2-inflected-to-segment-buffer-r: 224;
  --b-cssvar-ededf2-inflected-to-segment-buffer-g: 230;
  --b-cssvar-ededf2-inflected-to-segment-buffer-b: 238;

  --b-cssvar-ededf2-inflected-to-user-position: #e6e6f0;
  --b-cssvar-ededf2-inflected-to-user-position-r: 230;
  --b-cssvar-ededf2-inflected-to-user-position-g: 230;
  --b-cssvar-ededf2-inflected-to-user-position-b: 240;

  --b-cssvar-aeaeb2: #aeaeb2;
  --b-cssvar-aeaeb2-r: 174;
  --b-cssvar-aeaeb2-g: 174;
  --b-cssvar-aeaeb2-b: 178;

  --b-cssvar-333333: #333333;
  --b-cssvar-333333-r: 51;
  --b-cssvar-333333-g: 51;
  --b-cssvar-333333-b: 51;

  --b-cssvar-333333-opacity-a: 1;
  --b-cssvar-333333-opacity-b: 0.8;
  --b-cssvar-333333-opacity-c: 0.7;
  --b-cssvar-333333-opacity-d: 0.6;
  --b-cssvar-333333-opacity-e: 0.33;

  --b-cssvar-ranking-color-0: #49d68b;
  --b-cssvar-ranking-color-0-opacity-flattened-a: #d0f5e0;

  --b-cssvar-ranking-color-1: #49d188;
  --b-cssvar-ranking-color-1-opacity-flattened-b: #dcf7e8;

  --b-cssvar-ranking-color-2: #43cd83;
  --b-cssvar-ranking-color-2-opacity-flattened-c: #e8f9ef;

  --b-cssvar-ranking-color-3: #43c881;
  --b-cssvar-ranking-color-3-opacity-flattened-d: #f4fcf8;

  --b-cssvar-ranking-color-opacity-a: 0.27;
  --b-cssvar-ranking-color-opacity-b: 0.20;
  --b-cssvar-ranking-color-opacity-c: 0.13;
  --b-cssvar-ranking-color-opacity-d: 0.06;

  --b-cssvar-disabled-opacity: 0.6;

  --b-cssvar-border-radius-large: 25px;
  --b-cssvar-border-radius-normal: 17px;
  --b-cssvar-border-radius-medium: 12px;
  --b-cssvar-border-radius-small: 8px;
  --b-cssvar-border-radius-none: 0px;

  --b-cssvar-transition-duration: 0.32s;

  --b-cssvar-backdrop-filter: saturate(180%) blur(20px);

  --b-cssvar-head-background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 80%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
  --b-cssvar-large-head-background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 70%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-cssvar-main-color: #597aa8;
    --b-cssvar-main-color-r: 89;
    --b-cssvar-main-color-g: 122;
    --b-cssvar-main-color-b: 168;
    --b-cssvar-main-color-opacity-flattened-c: #2b3648;

    --b-cssvar-main-color-inflected-to-segment-buffer: #5991bb;
    --b-cssvar-main-color-inflected-to-segment-buffer-r: 89;
    --b-cssvar-main-color-inflected-to-segment-buffer-g: 145;
    --b-cssvar-main-color-inflected-to-segment-buffer-b: 187;
    --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: #1d222b;

    --b-cssvar-main-color-inflected-to-user-position: #7866f1;
    --b-cssvar-main-color-inflected-to-user-position-r: 120;
    --b-cssvar-main-color-inflected-to-user-position-g: 102;
    --b-cssvar-main-color-inflected-to-user-position-b: 241;
    --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: #2f2c53;

    --b-cssvar-main-color-opacity-a: 1;
    --b-cssvar-main-color-opacity-b: 0.8;
    --b-cssvar-main-color-opacity-d: 0.28;
    --b-cssvar-main-color-opacity-e: 0.15;

    --b-cssvar-ffffff-normal: #17191e;
    --b-cssvar-ffffff-normal-r: 23;
    --b-cssvar-ffffff-normal-g: 25;
    --b-cssvar-ffffff-normal-b: 30;

    --b-cssvar-ffffff-blocky: #1c1e25;
    --b-cssvar-ffffff-blocky-r: 13;
    --b-cssvar-ffffff-blocky-g: 13;
    --b-cssvar-ffffff-blocky-b: 16;

    --b-cssvar-f9f9fb-normal: #1c1e25;
    --b-cssvar-f9f9fb-normal-r: 13;
    --b-cssvar-f9f9fb-normal-g: 13;
    --b-cssvar-f9f9fb-normal-b: 16;

    --b-cssvar-f9f9fb-blocky: #17191e;
    --b-cssvar-f9f9fb-blocky-r: 23;
    --b-cssvar-f9f9fb-blocky-g: 25;
    --b-cssvar-f9f9fb-blocky-b: 30;

    --b-cssvar-f9f9fb-inflected-to-segment-buffer: #232c38;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 35;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 44;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 56;

    --b-cssvar-f9f9fb-inflected-to-user-position: #242538;
    --b-cssvar-f9f9fb-inflected-to-user-position-r: 36;
    --b-cssvar-f9f9fb-inflected-to-user-position-g: 37;
    --b-cssvar-f9f9fb-inflected-to-user-position-b: 56;

    --b-cssvar-ededf2: #1f222a;
    --b-cssvar-ededf2-r: 32;
    --b-cssvar-ededf2-g: 34;
    --b-cssvar-ededf2-b: 42;

    --b-cssvar-ededf2-inflected-to-segment-buffer: #27303d;
    --b-cssvar-ededf2-inflected-to-segment-buffer-r: 39;
    --b-cssvar-ededf2-inflected-to-segment-buffer-g: 48;
    --b-cssvar-ededf2-inflected-to-segment-buffer-b: 61;

    --b-cssvar-ededf2-inflected-to-user-position: #28293e;
    --b-cssvar-ededf2-inflected-to-user-position-r: 40;
    --b-cssvar-ededf2-inflected-to-user-position-g: 41;
    --b-cssvar-ededf2-inflected-to-user-position-b: 62;

    --b-cssvar-aeaeb2: #35353b;
    --b-cssvar-aeaeb2-r: 53;
    --b-cssvar-aeaeb2-g: 53;
    --b-cssvar-aeaeb2-b: 59;

    --b-cssvar-333333: #ffffff;
    --b-cssvar-333333-r: 255;
    --b-cssvar-333333-g: 255;
    --b-cssvar-333333-b: 255;

    --b-cssvar-333333-opacity-a: 1;
    --b-cssvar-333333-opacity-b: 0.8;
    --b-cssvar-333333-opacity-c: 0.7;
    --b-cssvar-333333-opacity-d: 0.6;
    --b-cssvar-333333-opacity-e: 0.26;

    --b-cssvar-ranking-color-0-opacity-flattened-a: #143723;

    --b-cssvar-ranking-color-1-opacity-flattened-b: #102b1c;

    --b-cssvar-ranking-color-2-opacity-flattened-c: #0b1f14;

    --b-cssvar-ranking-color-3-opacity-flattened-d: #08150d;

    --b-cssvar-ranking-color-opacity-a: 0.25;
    --b-cssvar-ranking-color-opacity-b: 0.20;
    --b-cssvar-ranking-color-opacity-c: 0.15;
    --b-cssvar-ranking-color-opacity-d: 0.10;

    --b-cssvar-backdrop-filter: saturate(100%) blur(15px);
  }
}

@media (prefers-reduced-transparency) {
  :root {
    --b-cssvar-backdrop-filter: none;
    --b-cssvar-head-background: var(--b-cssvar-ffffff-normal);
    --b-cssvar-large-head-background: var(--b-cssvar-ffffff-normal);
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}