:root {
  /* main color */
  --b-cssvar-main-color: rgb(101, 143, 198);
  --b-cssvar-main-color-r: 101;
  --b-cssvar-main-color-g: 143;
  --b-cssvar-main-color-b: 198;
  --b-cssvar-main-color-60-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 60%);
  --b-cssvar-main-color-30-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 30%);
  --b-cssvar-main-color-22-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 22%);
  --b-cssvar-main-color-16-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 16%);
  --b-cssvar-main-color-11-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 11%);
  --b-cssvar-main-color-09-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(101, 143, 198) 9%);

  /* main color && segment buffer */
  --b-cssvar-main-color-inflected-to-segment-buffer: rgb(89, 145, 187);
  --b-cssvar-main-color-inflected-to-segment-buffer-22-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(89, 145, 187) 22%);
  --b-cssvar-main-color-inflected-to-segment-buffer-16-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(89, 145, 187) 16%);
  --b-cssvar-main-color-inflected-to-segment-buffer-11-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(89, 145, 187) 11%);

  /* main color && user position */
  --b-cssvar-main-color-inflected-to-user-position: rgb(99, 84, 199);
  --b-cssvar-main-color-inflected-to-user-position-22-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(99, 84, 199) 22%);
  --b-cssvar-main-color-inflected-to-user-position-16-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(99, 84, 199) 16%);
  --b-cssvar-main-color-inflected-to-user-position-11-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(99, 84, 199) 11%);

  /* ffffff */
  --b-cssvar-ffffff-normal: rgb(255, 255, 255);
  --b-cssvar-ffffff-normal-60: rgba(255, 255, 255, 0.6);

  --b-cssvar-ffffff-blocky: rgb(255, 255, 255);

  /* f9f9fb */
  --b-cssvar-f9f9fb-normal: rgb(249, 249, 251);
  --b-cssvar-f9f9fb-normal-80: rgba(249, 249, 251, 0.8);
  --b-cssvar-f9f9fb-normal-50-flatten: color-mix(in srgb, rgb(255, 255, 255), rgb(249, 249, 251) 50%);

  --b-cssvar-f9f9fb-blocky: rgb(249, 249, 251);

  --b-cssvar-f9f9fb-inflected-to-segment-buffer: color-mix(in srgb, rgb(249, 249, 251), rgb(89, 145, 187) 3%);

  --b-cssvar-f9f9fb-inflected-to-user-position: color-mix(in srgb, rgb(249, 249, 251), rgb(99, 84, 199) 4%);

  /* ededf2 */
  --b-cssvar-ededf2: rgb(237, 237, 242);
  --b-cssvar-ededf2-50-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(237, 237, 242) 50%);

  --b-cssvar-ededf2-inflected-to-segment-buffer: color-mix(in srgb, rgb(237, 237, 242), rgb(89, 145, 187) 8.5%);
  --b-cssvar-ededf2-inflected-to-segment-buffer-50-flattened: color-mix(in srgb, rgb(255, 255, 255), color-mix(in srgb, rgb(237, 237, 242), rgb(89, 145, 187) 8.5%) 50%);

  --b-cssvar-ededf2-inflected-to-user-position: color-mix(in srgb, rgb(237, 237, 242), rgb(99, 84, 199) 5%);
  --b-cssvar-ededf2-inflected-to-user-position-50-flattened: color-mix(in srgb, rgb(255, 255, 255), color-mix(in srgb, rgb(237, 237, 242), rgb(99, 84, 199) 5%) 50%);

  /* aeaeb2 */
  --b-cssvar-aeaeb2: rgb(174, 174, 178);

  --b-cssvar-aeaeb2-inflected-to-segment-buffer: color-mix(in srgb, 174, 174, 178, rgb(89, 145, 187) 11%);

  --b-cssvar-aeaeb2-inflected-to-user-position: color-mix(in srgb, rgb(255, 255, 255), color-mix(in srgb, 174, 174, 178, rgb(99, 84, 199) 11%) 93%);

  /* 333333 */
  --b-cssvar-333333: rgb(51, 51, 51);
  --b-cssvar-333333-80-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(51, 51, 51) 80%);
  --b-cssvar-333333-70-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(51, 51, 51) 70%);
  --b-cssvar-333333-60-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(51, 51, 51) 60%);
  --b-cssvar-333333-33-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(51, 51, 51) 33%);

  /* ranking color */
  --b-cssvar-ranking-color-0: rgb(73, 214, 139);
  --b-cssvar-ranking-color-0-27-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(73, 214, 139) 27%);

  --b-cssvar-ranking-color-1: rgb(73, 209, 136);
  --b-cssvar-ranking-color-1-20-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(73, 209, 136) 20%);

  --b-cssvar-ranking-color-2: rgb(67, 205, 131);
  --b-cssvar-ranking-color-2-13-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(67, 205, 131) 13%);

  --b-cssvar-ranking-color-3: rgb(67, 200, 129);
  --b-cssvar-ranking-color-3-6-flattened: color-mix(in srgb, rgb(255, 255, 255), rgb(67, 200, 129) 6%);

  --b-cssvar-disabled-opacity: 0.6;

  --b-cssvar-border-radius-large: 25px;
  --b-cssvar-border-radius-normal: 17px;
  --b-cssvar-border-radius-medium: 12px;
  --b-cssvar-border-radius-small: 8px;
  --b-cssvar-border-radius-none: 0px;

  --b-cssvar-transition-duration: 0.32s;

  --b-cssvar-backdrop-filter: saturate(180%) blur(20px);

  --b-cssvar-head-background: linear-gradient(180deg, var(--b-cssvar-ffffff-normal) 0%, var(--b-cssvar-ffffff-normal-60) 80%, var(--b-cssvar-ffffff-normal-60) 100%);
  --b-cssvar-large-head-background: linear-gradient(180deg, var(--b-cssvar-ffffff-normal) 0%, var(--b-cssvar-ffffff-normal-60) 70%, var(--b-cssvar-ffffff-normal-60) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* main color */
    --b-cssvar-main-color: rgb(89, 122, 168);
    --b-cssvar-main-color-r: 89;
    --b-cssvar-main-color-g: 122;
    --b-cssvar-main-color-b: 168;
    --b-cssvar-main-color-60-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 60%);
    --b-cssvar-main-color-30-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 30%);
    --b-cssvar-main-color-22-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 30%);
    --b-cssvar-main-color-16-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 23%);
    --b-cssvar-main-color-11-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 15%);
    --b-cssvar-main-color-09-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 122, 168) 9%);

    /* main color && segment buffer */
    --b-cssvar-main-color-inflected-to-segment-buffer: rgb(89, 145, 187);
    --b-cssvar-main-color-inflected-to-segment-buffer-22-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 145, 187) 30%);
    --b-cssvar-main-color-inflected-to-segment-buffer-16-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 145, 187) 23%);
    --b-cssvar-main-color-inflected-to-segment-buffer-11-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(89, 145, 187) 15%);

    /* main color && user position */
    --b-cssvar-main-color-inflected-to-user-position: rgb(120, 102, 241);
    --b-cssvar-main-color-inflected-to-user-position-22-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(120, 102, 241) 30%);
    --b-cssvar-main-color-inflected-to-user-position-16-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(120, 102, 241) 23%);
    --b-cssvar-main-color-inflected-to-user-position-11-flattened: color-mix(in srgb, rgb(23, 25, 30), rgb(120, 102, 241) 15%);

    /* ffffff */
    --b-cssvar-ffffff-normal: rgb(23, 25, 30);
    --b-cssvar-ffffff-normal-60: rgba(23, 25, 30, 0.6);

    --b-cssvar-ffffff-blocky: rgb(28, 30, 37);

    /* f9f9fb */
    --b-cssvar-f9f9fb-normal: rgb(28, 30, 37);
    --b-cssvar-f9f9fb-normal-80: rgba(28, 30, 37, 0.8);
    --b-cssvar-f9f9fb-normal-50-flatten: color-mix(in srgb, rgb(23, 25, 30), rgb(28, 30, 37) 50%);

    --b-cssvar-f9f9fb-blocky: rgb(23, 25, 30);

    --b-cssvar-f9f9fb-inflected-to-segment-buffer: color-mix(in srgb, rgb(28, 30, 37), rgb(89, 145, 187) 6%);

    --b-cssvar-f9f9fb-inflected-to-user-position: color-mix(in srgb, rgb(28, 30, 37), rgb(120, 102, 241) 5%);

    /* ededf2 */
    --b-cssvar-ededf2: rgb(31, 34, 42);
    --b-cssvar-ededf2-50-flattened: color-mix(in srgb, rgb(28, 30, 37), rgb(31, 34, 42) 50%);

    --b-cssvar-ededf2-inflected-to-segment-buffer: color-mix(in srgb, rgb(31, 34, 42), rgb(89, 145, 187) 13%);
    --b-cssvar-ededf2-inflected-to-segment-buffer-50-flattened: color-mix(in srgb, color-mix(in srgb, rgb(28, 30, 37), rgb(89, 145, 187) 6%), color-mix(in srgb, rgb(31, 34, 42), rgb(89, 145, 187) 13%) 50%);

    --b-cssvar-ededf2-inflected-to-user-position: color-mix(in srgb, rgb(31, 34, 42), rgb(120, 102, 241) 11%);
    --b-cssvar-ededf2-inflected-to-user-position-50-flattened: color-mix(in srgb, color-mix(in srgb, rgb(28, 30, 37), rgb(120, 102, 241) 5%), color-mix(in srgb, rgb(31, 34, 42), rgb(120, 102, 241) 11%) 50%);

    /* aeaeb2 */
    --b-cssvar-aeaeb2: rgb(54, 58, 66);

    --b-cssvar-aeaeb2-inflected-to-segment-buffer: color-mix(in srgb, rgb(54, 58, 66), rgb(89, 145, 187) 11%);

    --b-cssvar-aeaeb2-inflected-to-user-position: color-mix(in srgb, rgb(23, 25, 30), color-mix(in srgb, rgb(54, 58, 66), rgb(120, 102, 241) 14%) 90%);

    /* 333333 */
    --b-cssvar-333333: rgb(255, 255, 255);
    --b-cssvar-333333-80-flattened: color-mix(in srgb, rgb(28, 30, 37), rgb(255, 255, 255) 80%);
    --b-cssvar-333333-70-flattened: color-mix(in srgb, rgb(28, 30, 37), rgb(255, 255, 255) 70%);
    --b-cssvar-333333-60-flattened: color-mix(in srgb, rgb(28, 30, 37), rgb(255, 255, 255) 60%);
    --b-cssvar-333333-33-flattened: color-mix(in srgb, rgb(28, 30, 37), rgb(255, 255, 255) 26%);

    /* ranking color */
    --b-cssvar-ranking-color-0-27-flattened: color-mix(in srgb, color-mix(in srgb, rgb(0, 0, 0), rgb(23, 25, 30) 60%), rgb(73, 214, 139) 25%);

    --b-cssvar-ranking-color-1-20-flattened: color-mix(in srgb, color-mix(in srgb, rgb(0, 0, 0), rgb(23, 25, 30) 60%), rgb(73, 209, 136) 20%);

    --b-cssvar-ranking-color-2-13-flattened: color-mix(in srgb, color-mix(in srgb, rgb(0, 0, 0), rgb(23, 25, 30) 60%), rgb(67, 205, 131) 15%);

    --b-cssvar-ranking-color-3-6-flattened: color-mix(in srgb, color-mix(in srgb, rgb(0, 0, 0), rgb(23, 25, 30) 60%), rgb(67, 200, 129) 10%);

    --b-cssvar-backdrop-filter: saturate(100%) blur(15px);
  }
}

@media (prefers-reduced-transparency) {
  :root {
    --b-cssvar-backdrop-filter: none;
    --b-cssvar-head-background: var(--b-cssvar-ffffff-normal);
    --b-cssvar-large-head-background: var(--b-cssvar-ffffff-normal);
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}