:root {
  --b-main-color: #24aff5;
  --b-main-color-r: 36;
  --b-main-color-g: 175;
  --b-main-color-b: 245;
  --b-main-color-solid-transparent-c: #c2e9fd;

  --b-main-color-inflected: #1dc1e6;
  --b-main-color-inflected-r: 29;
  --b-main-color-inflected-g: 193;
  --b-main-color-inflected-b: 230;

  --b-main-color-opacity-a: 1;
  --b-main-color-opacity-b: 0.8;
  --b-main-color-opacity-c: 0.28;
  --b-main-color-opacity-d: 0.11;

  --b-ffffff: #ffffff;
  --b-ffffff-r: 255;
  --b-ffffff-g: 255;
  --b-ffffff-b: 255;
  --b-ffffff-opacity-a: 1;
  --b-ffffff-opacity-b: 0.7;

  --b-f9f9fb: #f9f9fb;
  --b-f9f9fb-r: 249;
  --b-f9f9fb-g: 249;
  --b-f9f9fb-b: 251;

  --b-f9f9fb-inflected: #f7faf9;
  --b-f9f9fb-inflected-r: 247;
  --b-f9f9fb-inflected-g: 250;
  --b-f9f9fb-inflected-b: 249;

  --b-e5e5ea: #ededf2;
  --b-e5e5ea-r: 237;
  --b-e5e5ea-g: 237;
  --b-e5e5ea-b: 242;
  --b-e5e5ea-opacity-a: 0.5;

  --b-e5e5ea-inflected: #dfebe6;
  --b-e5e5ea-inflected-r: 223;
  --b-e5e5ea-inflected-g: 235;
  --b-e5e5ea-inflected-b: 230;

  --b-aeaeb2: #aeaeb2;
  --b-aeaeb2-r: 174;
  --b-aeaeb2-g: 174;
  --b-aeaeb2-b: 178;

  --b-333333: #333333;
  --b-333333-r: 51;
  --b-333333-g: 51;
  --b-333333-b: 51;

  --b-333333-opacity-a: 1;
  --b-333333-opacity-b: 0.8;
  --b-333333-opacity-c: 0.6;
  --b-333333-opacity-d: 0.33;

  --b-f4252c: #f4252c;
  --b-f4252c-r: 244;
  --b-f4252c-g: 37;
  --b-f4252c-b: 44;

  --b-f4252c-opacity-a: 0.15;

  --b-border-radius-default: 15px;
  --b-border-radius-small: 8px;

  --b-transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-main-color-solid-transparent-c: #0e3549;

    --b-main-color-opacity-a: 1;
    --b-main-color-opacity-b: 0.8;
    --b-main-color-opacity-c: 0.28;
    --b-main-color-opacity-d: 0.15;

    --b-ffffff: #050506;
    --b-ffffff-r: 5;
    --b-ffffff-g: 5;
    --b-ffffff-b: 6;

    --b-f9f9fb: #0e0e11;
    --b-f9f9fb-r: 14;
    --b-f9f9fb-g: 14;
    --b-f9f9fb-b: 17;

    --b-f9f9fb-inflected: #050e0d;
    --b-f9f9fb-inflected-r: 5;
    --b-f9f9fb-inflected-g: 14;
    --b-f9f9fb-inflected-b: 13;

    --b-e5e5ea: #23232a;
    --b-e5e5ea-r: 35;
    --b-e5e5ea-g: 35;
    --b-e5e5ea-b: 42;

    --b-e5e5ea-inflected: #1f2925;
    --b-e5e5ea-inflected-r: 31;
    --b-e5e5ea-inflected-g: 47;
    --b-e5e5ea-inflected-b: 37;

    --b-aeaeb2: #5a5a6c;
    --b-aeaeb2-r: 90;
    --b-aeaeb2-g: 90;
    --b-aeaeb2-b: 108;

    --b-333333: #f9f9fb;
    --b-333333-r: 255;
    --b-333333-g: 255;
    --b-333333-b: 255;

    --b-333333-opacity-a: 1;
    --b-333333-opacity-b: 0.8;
    --b-333333-opacity-c: 0.6;
    --b-333333-opacity-d: 0.33;
  }
}

:root {
  --safe-area-left: 0px;
  --safe-area-right: 0px;
  --safe-area-top: 0px;
  --safe-area-bottom: 0px;
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
  }
}