:root {
  --b-cssvar-main-color: #329CFF;
  --b-cssvar-main-color-r: 50;
  --b-cssvar-main-color-g: 156;
  --b-cssvar-main-color-b: 255;
  --b-cssvar-main-color-solid-transparent-c: #E7F3FF;

  --b-cssvar-main-color-inflected-to-segment-buffer: #3B7A91;
  --b-cssvar-main-color-inflected-to-segment-buffer-r: 59;
  --b-cssvar-main-color-inflected-to-segment-buffer-g: 122;
  --b-cssvar-main-color-inflected-to-segment-buffer-b: 145;
  --b-cssvar-main-color-inflected-to-segment-buffer-solid-transparent-c: #DFE4EA;

  --b-cssvar-main-color-inflected-to-user-position: #6354c7;
  --b-cssvar-main-color-inflected-to-user-position-r: 99;
  --b-cssvar-main-color-inflected-to-user-position-g: 84;
  --b-cssvar-main-color-inflected-to-user-position-b: 199;
  --b-cssvar-main-color-inflected-to-user-position-solid-transparent-c: #E0E0EF;

  --b-cssvar-main-color-opacity-a: 1;
  --b-cssvar-main-color-opacity-b: 0.8;
  --b-cssvar-main-color-opacity-c: 0.15;
  --b-cssvar-main-color-opacity-d: 0.11;

  --b-cssvar-ffffff: #ffffff;
  --b-cssvar-ffffff-r: 255;
  --b-cssvar-ffffff-g: 255;
  --b-cssvar-ffffff-b: 255;
  --b-cssvar-ffffff-opacity-a: 1;
  --b-cssvar-ffffff-opacity-b: 0.7;

  --b-cssvar-f9f9fb: #f9f9fb;
  --b-cssvar-f9f9fb-r: 249;
  --b-cssvar-f9f9fb-g: 249;
  --b-cssvar-f9f9fb-b: 251;

  --b-cssvar-f9f9fb-inflected-to-segment-buffer: #F3F5F8;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 243;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 245;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 248;

  --b-cssvar-f9f9fb-inflected-to-user-position: #F2F1F9;
  --b-cssvar-f9f9fb-inflected-to-user-position-r: 242;
  --b-cssvar-f9f9fb-inflected-to-user-position-g: 241;
  --b-cssvar-f9f9fb-inflected-to-user-position-b: 249;

  --b-cssvar-ededf2: #ededf2;
  --b-cssvar-ededf2-r: 237;
  --b-cssvar-ededf2-g: 237;
  --b-cssvar-ededf2-b: 242;
  --b-cssvar-ededf2-opacity-a: 0.5;

  --b-cssvar-ededf2-inflected-to-segment-buffer: #E7E9EF;
  --b-cssvar-ededf2-inflected-to-segment-buffer-r: 231;
  --b-cssvar-ededf2-inflected-to-segment-buffer-g: 233;
  --b-cssvar-ededf2-inflected-to-segment-buffer-b: 239;

  --b-cssvar-ededf2-inflected-to-user-position: #E6E6F0;
  --b-cssvar-ededf2-inflected-to-user-position-r: 230;
  --b-cssvar-ededf2-inflected-to-user-position-g: 230;
  --b-cssvar-ededf2-inflected-to-user-position-b: 240;

  --b-cssvar-aeaeb2: #aeaeb2;
  --b-cssvar-aeaeb2-r: 174;
  --b-cssvar-aeaeb2-g: 174;
  --b-cssvar-aeaeb2-b: 178;

  --b-cssvar-333333: #333333;
  --b-cssvar-333333-r: 51;
  --b-cssvar-333333-g: 51;
  --b-cssvar-333333-b: 51;

  --b-cssvar-333333-opacity-a: 1;
  --b-cssvar-333333-opacity-b: 0.8;
  --b-cssvar-333333-opacity-c: 0.6;
  --b-cssvar-333333-opacity-d: 0.33;

  --b-cssvar-f4252c: #f4252c;
  --b-cssvar-f4252c-r: 244;
  --b-cssvar-f4252c-g: 37;
  --b-cssvar-f4252c-b: 44;

  --b-cssvar-f4252c-opacity-a: 0.15;

  --b-cssvar-border-radius-default: 15px;
  --b-cssvar-border-radius-small: 8px;

  --b-cssvar-transition-duration: 0.32s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-cssvar-main-color-solid-transparent-c: #0E2337;
    --b-cssvar-main-color-inflected-to-segment-buffer-solid-transparent-c: #272F38;
    --b-cssvar-main-color-inflected-to-user-position-solid-transparent-c: #2F2C48;

    --b-cssvar-main-color-opacity-a: 1;
    --b-cssvar-main-color-opacity-b: 0.8;
    --b-cssvar-main-color-opacity-c: 0.28;
    --b-cssvar-main-color-opacity-d: 0.15;

    --b-cssvar-ffffff: #050506;
    --b-cssvar-ffffff-r: 5;
    --b-cssvar-ffffff-g: 5;
    --b-cssvar-ffffff-b: 6;

    --b-cssvar-f9f9fb: #0e0e11;
    --b-cssvar-f9f9fb-r: 14;
    --b-cssvar-f9f9fb-g: 14;
    --b-cssvar-f9f9fb-b: 17;

    --b-cssvar-f9f9fb-inflected-to-segment-buffer: #11161A;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 17;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 22;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 26;

    --b-cssvar-f9f9fb-inflected-to-user-position: #191728;
    --b-cssvar-f9f9fb-inflected-to-user-position-r: 25;
    --b-cssvar-f9f9fb-inflected-to-user-position-g: 23;
    --b-cssvar-f9f9fb-inflected-to-user-position-b: 40;

    --b-cssvar-ededf2: #23232a;
    --b-cssvar-ededf2-r: 35;
    --b-cssvar-ededf2-g: 35;
    --b-cssvar-ededf2-b: 42;

    --b-cssvar-ededf2-inflected-to-segment-buffer: #252931;
    --b-cssvar-ededf2-inflected-to-segment-buffer-r: 37;
    --b-cssvar-ededf2-inflected-to-segment-buffer-g: 41;
    --b-cssvar-ededf2-inflected-to-segment-buffer-b: 49;

    --b-cssvar-ededf2-inflected-to-user-position: #2B293E;
    --b-cssvar-ededf2-inflected-to-user-position-r: 43;
    --b-cssvar-ededf2-inflected-to-user-position-g: 41;
    --b-cssvar-ededf2-inflected-to-user-position-b: 62;

    --b-cssvar-aeaeb2: #5a5a6c;
    --b-cssvar-aeaeb2-r: 90;
    --b-cssvar-aeaeb2-g: 90;
    --b-cssvar-aeaeb2-b: 108;

    --b-cssvar-333333: #f9f9fb;
    --b-cssvar-333333-r: 255;
    --b-cssvar-333333-g: 255;
    --b-cssvar-333333-b: 255;

    --b-cssvar-333333-opacity-a: 1;
    --b-cssvar-333333-opacity-b: 0.8;
    --b-cssvar-333333-opacity-c: 0.6;
    --b-cssvar-333333-opacity-d: 0.26;
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}