:root {
  --b-cssvar-main-color: #658fc6;
  --b-cssvar-main-color-r: 101;
  --b-cssvar-main-color-g: 143;
  --b-cssvar-main-color-b: 198;
  --b-cssvar-main-color-opacity-flattened-c: color-mix(in srgb, #ffffff, #658fc6 22%);
  --b-cssvar-main-color-opacity-flattened-d: color-mix(in srgb, #ffffff, #658fc6 16%);
  --b-cssvar-main-color-opacity-flattened-e: color-mix(in srgb, #ffffff, #658fc6 11%);

  --b-cssvar-main-color-inflected-to-segment-buffer: #5991bb;
  --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: color-mix(in srgb, #ffffff, #5991bb 22%);
  --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-d: color-mix(in srgb, #ffffff, #5991bb 16%);
  --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-e: color-mix(in srgb, #ffffff, #5991bb 11%);

  --b-cssvar-main-color-inflected-to-user-position: #6354c7;
  --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: color-mix(in srgb, #ffffff, #6354c7 22%);
  --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-d: color-mix(in srgb, #ffffff, #6354c7 16%);
  --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-e: color-mix(in srgb, #ffffff, #6354c7 11%);

  --b-cssvar-main-color-opacity-a: 1;
  --b-cssvar-main-color-opacity-b: 0.8;
  --b-cssvar-main-color-opacity-c: 0.22;
  --b-cssvar-main-color-opacity-d: 0.16;
  --b-cssvar-main-color-opacity-e: 0.11;

  --b-cssvar-ffffff-normal: #ffffff;
  --b-cssvar-ffffff-normal-r: 255;
  --b-cssvar-ffffff-normal-g: 255;
  --b-cssvar-ffffff-normal-b: 255;

  --b-cssvar-ffffff-blocky: #ffffff;
  --b-cssvar-ffffff-blocky-r: 255;
  --b-cssvar-ffffff-blocky-g: 255;
  --b-cssvar-ffffff-blocky-b: 255;

  --b-cssvar-ffffff-opacity-a: 1;
  --b-cssvar-ffffff-opacity-b: 0.6;

  --b-cssvar-f9f9fb-normal: #f9f9fb;
  --b-cssvar-f9f9fb-normal-r: 249;
  --b-cssvar-f9f9fb-normal-g: 249;
  --b-cssvar-f9f9fb-normal-b: 251;

  --b-cssvar-f9f9fb-blocky: #f9f9fb;
  --b-cssvar-f9f9fb-blocky-r: 249;
  --b-cssvar-f9f9fb-blocky-g: 249;
  --b-cssvar-f9f9fb-blocky-b: 251;

  --b-cssvar-f9f9fb-inflected-to-segment-buffer: color-mix(in srgb, #f9f9fb, #5991bb 3%);

  --b-cssvar-f9f9fb-inflected-to-user-position: color-mix(in srgb, #f9f9fb, #6354c7 4%);

  --b-cssvar-f9f9fb-opacity-a: 1;
  --b-cssvar-f9f9fb-opacity-b: 0.7;

  --b-cssvar-ededf2: #ededf2;
  --b-cssvar-ededf2-opacity-flattened-a: color-mix(in srgb, #ffffff, #ededf2 50%);

  --b-cssvar-ededf2-inflected-to-segment-buffer: color-mix(in srgb, #ededf2, #5991bb 8.5%);
  --b-cssvar-ededf2-inflected-to-segment-buffer-opacity-flattened-a: color-mix(in srgb, #ffffff, color-mix(in srgb, #ededf2, #5991bb 8.5%) 50%);

  --b-cssvar-ededf2-inflected-to-user-position: color-mix(in srgb, #ededf2, #6354c7 5%);
  --b-cssvar-ededf2-inflected-to-user-position-opacity-flattened-a: color-mix(in srgb, #ffffff, color-mix(in srgb, #ededf2, #6354c7 5%) 50%);

  --b-cssvar-ededf2-opacity-a: 0.5;

  --b-cssvar-aeaeb2: #aeaeb2;

  --b-cssvar-aeaeb2-inflected-to-segment-buffer: color-mix(in srgb, #aeaeb2, #5991bb 11%);

  --b-cssvar-aeaeb2-inflected-to-user-position: color-mix(in srgb, #ffffff, color-mix(in srgb, #aeaeb2, #6354c7 11%) 93%);

  --b-cssvar-333333: #333333;
  --b-cssvar-333333-r: 51;
  --b-cssvar-333333-g: 51;
  --b-cssvar-333333-b: 51;

  --b-cssvar-333333-opacity-a: 1;
  --b-cssvar-333333-opacity-b: 0.8;
  --b-cssvar-333333-opacity-c: 0.7;
  --b-cssvar-333333-opacity-d: 0.6;
  --b-cssvar-333333-opacity-e: 0.33;

  --b-cssvar-ranking-color-0: #49d68b;
  --b-cssvar-ranking-color-0-opacity-flattened-a: color-mix(in srgb, #ffffff, #49d68b 27%);

  --b-cssvar-ranking-color-1: #49d188;
  --b-cssvar-ranking-color-1-opacity-flattened-b: color-mix(in srgb, #ffffff, #49d188 20%);

  --b-cssvar-ranking-color-2: #43cd83;
  --b-cssvar-ranking-color-2-opacity-flattened-c: color-mix(in srgb, #ffffff, #43cd83 13%);

  --b-cssvar-ranking-color-3: #43c881;
  --b-cssvar-ranking-color-3-opacity-flattened-d: color-mix(in srgb, #ffffff, #43c881 6%);

  /*
  --b-cssvar-ranking-color-opacity-a: 0.27;
  --b-cssvar-ranking-color-opacity-b: 0.20;
  --b-cssvar-ranking-color-opacity-c: 0.13;
  --b-cssvar-ranking-color-opacity-d: 0.06;
  */

  --b-cssvar-disabled-opacity: 0.6;

  --b-cssvar-border-radius-large: 25px;
  --b-cssvar-border-radius-normal: 17px;
  --b-cssvar-border-radius-medium: 12px;
  --b-cssvar-border-radius-small: 8px;
  --b-cssvar-border-radius-none: 0px;

  --b-cssvar-transition-duration: 0.32s;

  --b-cssvar-backdrop-filter: saturate(180%) blur(20px);

  --b-cssvar-head-background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 80%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
  --b-cssvar-large-head-background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 70%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-cssvar-main-color: #597aa8;
    --b-cssvar-main-color-r: 89;
    --b-cssvar-main-color-g: 122;
    --b-cssvar-main-color-b: 168;
    --b-cssvar-main-color-opacity-flattened-c: color-mix(in srgb, #17191e, #597aa8 30%);
    --b-cssvar-main-color-opacity-flattened-d: color-mix(in srgb, #17191e, #597aa8 23%);
    --b-cssvar-main-color-opacity-flattened-e: color-mix(in srgb, #17191e, #597aa8 15%);

    --b-cssvar-main-color-inflected-to-segment-buffer: #5991bb;
    --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: color-mix(in srgb, #17191e, #5991bb 30%);
    --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-d: color-mix(in srgb, #17191e, #5991bb 23%);
    --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-e: color-mix(in srgb, #17191e, #5991bb 15%);

    --b-cssvar-main-color-inflected-to-user-position: #7866f1;
    --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: color-mix(in srgb, #17191e, #7866f1 30%);
    --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-d: color-mix(in srgb, #17191e, #7866f1 23%);
    --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-e: color-mix(in srgb, #17191e, #7866f1 15%);

    --b-cssvar-main-color-opacity-a: 1;
    --b-cssvar-main-color-opacity-b: 0.8;
    --b-cssvar-main-color-opacity-c: 0.3;
    --b-cssvar-main-color-opacity-d: 0.23;
    --b-cssvar-main-color-opacity-e: 0.15;

    --b-cssvar-ffffff-normal: #17191e;
    --b-cssvar-ffffff-normal-r: 23;
    --b-cssvar-ffffff-normal-g: 25;
    --b-cssvar-ffffff-normal-b: 30;

    --b-cssvar-ffffff-blocky: #1c1e25;
    --b-cssvar-ffffff-blocky-r: 28;
    --b-cssvar-ffffff-blocky-g: 30;
    --b-cssvar-ffffff-blocky-b: 37;

    --b-cssvar-ffffff-opacity-a: 1;
    --b-cssvar-ffffff-opacity-b: 0.6;

    --b-cssvar-f9f9fb-normal: #1c1e25;
    --b-cssvar-f9f9fb-normal-r: 28;
    --b-cssvar-f9f9fb-normal-g: 30;
    --b-cssvar-f9f9fb-normal-b: 37;

    --b-cssvar-f9f9fb-blocky: #17191e;
    --b-cssvar-f9f9fb-blocky-r: 23;
    --b-cssvar-f9f9fb-blocky-g: 25;
    --b-cssvar-f9f9fb-blocky-b: 30;

    --b-cssvar-f9f9fb-inflected-to-segment-buffer: color-mix(in srgb, #1c1e25, #5991bb 6%);

    --b-cssvar-f9f9fb-inflected-to-user-position: color-mix(in srgb, #1c1e25, #7866f1 5%);

    --b-cssvar-ededf2: #1f222a;
    --b-cssvar-ededf2-opacity-flattened-a: color-mix(in srgb, #17191e, #1f222a 50%);

    --b-cssvar-ededf2-inflected-to-segment-buffer: color-mix(in srgb, #1f222a, #5991bb 13%);

    --b-cssvar-ededf2-inflected-to-user-position: color-mix(in srgb, #1f222a, #7866f1 11%);

    --b-cssvar-aeaeb2: #363a42;

    --b-cssvar-aeaeb2-inflected-to-segment-buffer: color-mix(in srgb, #363a42, #5991bb 11%);

    --b-cssvar-aeaeb2-inflected-to-user-position: color-mix(in srgb, #17191e, color-mix(in srgb, #363a42, #7866f1 14%) 90%);

    --b-cssvar-333333: #ffffff;
    --b-cssvar-333333-r: 255;
    --b-cssvar-333333-g: 255;
    --b-cssvar-333333-b: 255;

    --b-cssvar-333333-opacity-a: 1;
    --b-cssvar-333333-opacity-b: 0.8;
    --b-cssvar-333333-opacity-c: 0.7;
    --b-cssvar-333333-opacity-d: 0.6;
    --b-cssvar-333333-opacity-e: 0.26;

    --b-cssvar-ranking-color-0-opacity-flattened-a: color-mix(in srgb, color-mix(in srgb, #000000, #17191e 60%), #49d68b 25%);

    --b-cssvar-ranking-color-1-opacity-flattened-b: color-mix(in srgb, color-mix(in srgb, #000000, #17191e 60%), #49d188 20%);

    --b-cssvar-ranking-color-2-opacity-flattened-c: color-mix(in srgb, color-mix(in srgb, #000000, #17191e 60%), #43cd83 15%);

    --b-cssvar-ranking-color-3-opacity-flattened-d: color-mix(in srgb, color-mix(in srgb, #000000, #17191e 60%), #43c881 10%);

    /*
    --b-cssvar-ranking-color-opacity-a: 0.25;
    --b-cssvar-ranking-color-opacity-b: 0.20;
    --b-cssvar-ranking-color-opacity-c: 0.15;
    --b-cssvar-ranking-color-opacity-d: 0.10;
    */

    --b-cssvar-backdrop-filter: saturate(100%) blur(15px);
  }
}

@media (prefers-reduced-transparency) {
  :root {
    --b-cssvar-backdrop-filter: none;
    --b-cssvar-head-background: var(--b-cssvar-ffffff-normal);
    --b-cssvar-large-head-background: var(--b-cssvar-ffffff-normal);
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}