:root {
  --b-cssvar-main-color: #329CFF;
  --b-cssvar-main-color-r: 50;
  --b-cssvar-main-color-g: 156;
  --b-cssvar-main-color-b: 255;
  --b-cssvar-main-color-opacity-flattened-c: #E7F3FF;

  --b-cssvar-main-color-inflected-to-segment-buffer: #3D7E96;
  --b-cssvar-main-color-inflected-to-segment-buffer-r: 61;
  --b-cssvar-main-color-inflected-to-segment-buffer-g: 126;
  --b-cssvar-main-color-inflected-to-segment-buffer-b: 150;
  --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: #dfe7ed;

  --b-cssvar-main-color-inflected-to-user-position: #6354c7;
  --b-cssvar-main-color-inflected-to-user-position-r: 99;
  --b-cssvar-main-color-inflected-to-user-position-g: 84;
  --b-cssvar-main-color-inflected-to-user-position-b: 199;
  --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: #D9D7EC;

  --b-cssvar-main-color-opacity-a: 1;
  --b-cssvar-main-color-opacity-b: 0.8;
  --b-cssvar-main-color-opacity-c: 0.15;
  --b-cssvar-main-color-opacity-d: 0.11;

  --b-cssvar-ffffff-normal: #ffffff;
  --b-cssvar-ffffff-normal-r: 255;
  --b-cssvar-ffffff-normal-g: 255;
  --b-cssvar-ffffff-normal-b: 255;

  --b-cssvar-ffffff-blocky: #ffffff;
  --b-cssvar-ffffff-blocky-r: 255;
  --b-cssvar-ffffff-blocky-g: 255;
  --b-cssvar-ffffff-blocky-b: 255;

  --b-cssvar-ffffff-opacity-a: 1;
  --b-cssvar-ffffff-opacity-b: 0.7;

  --b-cssvar-f9f9fb-normal: #f9f9fb;
  --b-cssvar-f9f9fb-normal-r: 249;
  --b-cssvar-f9f9fb-normal-g: 249;
  --b-cssvar-f9f9fb-normal-b: 251;

  --b-cssvar-f9f9fb-blocky: #f9f9fb;
  --b-cssvar-f9f9fb-blocky-r: 249;
  --b-cssvar-f9f9fb-blocky-g: 249;
  --b-cssvar-f9f9fb-blocky-b: 251;

  --b-cssvar-f9f9fb-inflected-to-segment-buffer: #F3F5F8;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 243;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 245;
  --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 248;

  --b-cssvar-f9f9fb-inflected-to-user-position: #F2F1F9;
  --b-cssvar-f9f9fb-inflected-to-user-position-r: 242;
  --b-cssvar-f9f9fb-inflected-to-user-position-g: 241;
  --b-cssvar-f9f9fb-inflected-to-user-position-b: 249;

  --b-cssvar-f9f9fb-opacity-a: 1;
  --b-cssvar-f9f9fb-opacity-b: 0.7;

  --b-cssvar-ededf2: #ededf2;
  --b-cssvar-ededf2-r: 237;
  --b-cssvar-ededf2-g: 237;
  --b-cssvar-ededf2-b: 242;
  --b-cssvar-ededf2-opacity-a: 0.5;

  --b-cssvar-ededf2-inflected-to-segment-buffer: #E7E9EF;
  --b-cssvar-ededf2-inflected-to-segment-buffer-r: 231;
  --b-cssvar-ededf2-inflected-to-segment-buffer-g: 233;
  --b-cssvar-ededf2-inflected-to-segment-buffer-b: 239;

  --b-cssvar-ededf2-inflected-to-user-position: #E6E6F0;
  --b-cssvar-ededf2-inflected-to-user-position-r: 230;
  --b-cssvar-ededf2-inflected-to-user-position-g: 230;
  --b-cssvar-ededf2-inflected-to-user-position-b: 240;

  --b-cssvar-aeaeb2: #aeaeb2;
  --b-cssvar-aeaeb2-r: 174;
  --b-cssvar-aeaeb2-g: 174;
  --b-cssvar-aeaeb2-b: 178;

  --b-cssvar-333333: #333333;
  --b-cssvar-333333-r: 51;
  --b-cssvar-333333-g: 51;
  --b-cssvar-333333-b: 51;

  --b-cssvar-333333-opacity-a: 1;
  --b-cssvar-333333-opacity-b: 0.8;
  --b-cssvar-333333-opacity-c: 0.7;
  --b-cssvar-333333-opacity-d: 0.6;
  --b-cssvar-333333-opacity-e: 0.33;

  --b-cssvar-disabled-opacity: 0.6;

  --b-cssvar-border-radius-large: 25px;
  --b-cssvar-border-radius-normal: 17px;
  --b-cssvar-border-radius-medium: 12px;
  --b-cssvar-border-radius-small: 8px;
  --b-cssvar-border-radius-none: 0px;

  --b-cssvar-transition-duration: 0.35s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-cssvar-main-color: #3EA2FF;
    --b-cssvar-main-color-r: 62;
    --b-cssvar-main-color-g: 162;
    --b-cssvar-main-color-b: 255;
    --b-cssvar-main-color-opacity-flattened-c: #0A1F33;

    --b-cssvar-main-color-inflected-to-segment-buffer: #57B5D7;
    --b-cssvar-main-color-inflected-to-segment-buffer-r: 87;
    --b-cssvar-main-color-inflected-to-segment-buffer-g: 181;
    --b-cssvar-main-color-inflected-to-segment-buffer-b: 215;
    --b-cssvar-main-color-inflected-to-segment-buffer-opacity-flattened-c: #233742;

    --b-cssvar-main-color-inflected-to-user-position: #7866F1;
    --b-cssvar-main-color-inflected-to-user-position-r: 120;
    --b-cssvar-main-color-inflected-to-user-position-g: 102;
    --b-cssvar-main-color-inflected-to-user-position-b: 241;
    --b-cssvar-main-color-inflected-to-user-position-opacity-flattened-c: #272542;

    --b-cssvar-main-color-opacity-a: 1;
    --b-cssvar-main-color-opacity-b: 0.8;
    --b-cssvar-main-color-opacity-c: 0.28;
    --b-cssvar-main-color-opacity-d: 0.15;

    --b-cssvar-ffffff-normal: #040406;
    --b-cssvar-ffffff-normal-r: 4;
    --b-cssvar-ffffff-normal-g: 4;
    --b-cssvar-ffffff-normal-b: 6;

    --b-cssvar-ffffff-blocky: #0D0D10;
    --b-cssvar-ffffff-blocky-r: 13;
    --b-cssvar-ffffff-blocky-g: 13;
    --b-cssvar-ffffff-blocky-b: 16;

    --b-cssvar-f9f9fb-normal: #0D0D10;
    --b-cssvar-f9f9fb-normal-r: 13;
    --b-cssvar-f9f9fb-normal-g: 13;
    --b-cssvar-f9f9fb-normal-b: 16;

    --b-cssvar-f9f9fb-blocky: #040406;
    --b-cssvar-f9f9fb-blocky-r: 4;
    --b-cssvar-f9f9fb-blocky-g: 4;
    --b-cssvar-f9f9fb-blocky-b: 6;

    --b-cssvar-f9f9fb-inflected-to-segment-buffer: #0F171B;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-r: 15;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-g: 23;
    --b-cssvar-f9f9fb-inflected-to-segment-buffer-b: 27;

    --b-cssvar-f9f9fb-inflected-to-user-position: #131121;
    --b-cssvar-f9f9fb-inflected-to-user-position-r: 19;
    --b-cssvar-f9f9fb-inflected-to-user-position-g: 17;
    --b-cssvar-f9f9fb-inflected-to-user-position-b: 33;

    --b-cssvar-ededf2: #202026;
    --b-cssvar-ededf2-r: 32;
    --b-cssvar-ededf2-g: 32;
    --b-cssvar-ededf2-b: 38;

    --b-cssvar-ededf2-inflected-to-segment-buffer: #1C242B;
    --b-cssvar-ededf2-inflected-to-segment-buffer-r: 28;
    --b-cssvar-ededf2-inflected-to-segment-buffer-g: 36;
    --b-cssvar-ededf2-inflected-to-segment-buffer-b: 43;

    --b-cssvar-ededf2-inflected-to-user-position: #201F31;
    --b-cssvar-ededf2-inflected-to-user-position-r: 32;
    --b-cssvar-ededf2-inflected-to-user-position-g: 31;
    --b-cssvar-ededf2-inflected-to-user-position-b: 49;

    --b-cssvar-aeaeb2: #35353b;
    --b-cssvar-aeaeb2-r: 53;
    --b-cssvar-aeaeb2-g: 53;
    --b-cssvar-aeaeb2-b: 59;

    --b-cssvar-333333: #ffffff;
    --b-cssvar-333333-r: 255;
    --b-cssvar-333333-g: 255;
    --b-cssvar-333333-b: 255;

    --b-cssvar-333333-opacity-a: 1;
    --b-cssvar-333333-opacity-b: 0.8;
    --b-cssvar-333333-opacity-d: 0.6;
    --b-cssvar-333333-opacity-e: 0.26;
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}