.css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-name"] .css_folder_editor_group_body input {
  position: relative;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0px;
  margin: 0px;
  color: var(--b-cssvar-333333);
  caret-color: var(--b-cssvar-main-color);
  font-size: 20px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

.css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-name"] .css_folder_editor_group_body input:read-only {
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-c));
}