/* item */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item {
  position: relative;
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  overflow-y: clip;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 100% calc(40px * 3);
  scroll-snap-type: x mandatory;
}

.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item::-webkit-scrollbar {
  display: none;
}

/* item > head */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_head {
  position: relative;
  width: 100%;
  height: 50px;
  scroll-snap-align: end;
}

/* item > head > icon */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_head .css_folder_editor_folder_item_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_head .css_folder_editor_folder_item_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

/* item > head > context */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_head .css_folder_editor_folder_item_context {
  position: absolute;
  top: 7.5px;
  left: 50px;
  width: calc(100% - 50px - 90px - 10px);
  /* icon: 50px + capsule: 90px + padding: 10px */
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333-70-flattened);
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
}

/* item > head > main */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_head .css_folder_editor_folder_item_main {
  position: absolute;
  top: 21.5px;
  left: 50px;
  width: calc(100% - 50px - 90px - 10px);
  /* icon: 50px + capsule: 90px + padding: 10px */
  font-size: 17px;
  height: 23px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
}

/* item > drawer */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_drawer {
  position: relative;
  width: calc(10px + 3 * (50px - 10px - 10px) + (3 - 1) * 5px + 10px);
  height: 50px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  scroll-snap-align: end;
  padding: 10px;
  box-sizing: border-box;
}

/* item > drawer > button */
.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_drawer .css_folder_editor_folder_item_drawer_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b-cssvar-ededf2);
  border-radius: var(--b-cssvar-border-radius-large);
}

.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_drawer .css_folder_editor_folder_item_drawer_button span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
  font-size: 20px;
}

.css_folder_editor_field .css_folder_editor_body .css_folder_editor_groups .css_folder_editor_group[group="folder-content"] .css_folder_editor_group_body .css_folder_editor_folder_item .css_folder_editor_folder_item_drawer .css_folder_editor_folder_item_drawer_button:nth-child(1) span.css_material_symbols_rounded {
  transform: rotate(180deg);
}