.css_folder_manager_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% + var(--b-cssvar-safe-area-top));
  background: var(--b-cssvar-f9f9fb-blocky);
  display: block;
  visibility: hidden;
  overflow: clip;
}

.css_folder_manager_field[displayed="true"] {
  visibility: visible;
}