.css_folder_manager_field .css_folder_manager_body .css_folder_manager_folder_list {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  height: auto;
  display: inline-block;
  background: var(--b-cssvar-ffffff);
  border-radius: 20px;
  margin-top: calc(10px + 55px);
  margin-bottom: var(--b-cssvar-safe-area-bottom);
  user-select: none;
  -webkit-user-select: none;
}