/* container */
.css_map_field .css_map_panel_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  contain: layout;
  visibility: hidden;
}

/* displayed: true */
.css_map_field[displayed="true"] .css_map_panel_container[displayed="true"] {
  visibility: visible;
}

.css_map_field .css_map_panel_container::-webkit-scrollbar {
  display: none;
}

/* container > panel */
.css_map_field .css_map_panel_container .css_map_panel {
  position: absolute;
  top: calc(var(--b-cssvar-safe-area-top) + 55px);
  right: 10px;
  width: min(300px, calc(100% - 10px - 10px));
  border-radius: var(--b-cssvar-border-radius-normal);
  background-color: var(--b-cssvar-ededf2-65);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
  transform: scale(0.96);
  opacity: 0;
  overflow: clip;
}

.css_map_field .css_map_panel_container .css_map_panel.css_map_panel_pop_in {
  animation-name: b-css-pop-in;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}

.css_map_field .css_map_panel_container .css_map_panel.css_map_panel_pop_out {
  animation-name: b-css-pop-in;
  animation-direction: reverse;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}

.css_map_field .css_map_panel_container .css_map_panel.css_map_panel_popped_in {
  transform: scale(1);
  opacity: 1;
}

/* container > panel > head */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_head {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom-color: var(--b-cssvar-333333-15-flattened);
  border-bottom-style: solid;
  border-block-width: 1px;
}

/* container > panel > head > title */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_head .css_map_panel_head_title {
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 10px - 50px);
  /* padding: 10px + button: 50px */
  height: 50px;
  color: var(--b-cssvar-333333);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* container > panel > head > button */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_head .css_map_panel_head_button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_head .css_map_panel_head_button span.css_material_symbols_rounded {
  color: var(--b-cssvar-333333);
}

/* container > panel > body */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body {
  position: relative;
  width: 100%;
  height: auto;
  max-height: min(420px, calc(100vh - var(--b-cssvar-safe-area-top) - var(--b-cssvar-safe-area-bottom) - 150px));
  overflow-y: scroll;
  overflow-x: clip;
}

.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body::-webkit-scrollbar {
  display: none;
}

/* container > panel > body > overlays */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays {
  position: relative;
  width: 100%;
  height: calc(10px + 50px + 10px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/* container > panel > body > overlays > overlay */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay {
  position: relative;
  border-radius: var(--b-cssvar-border-radius-normal);
  background-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

.css_map_field[displayed="true"] .css_map_panel_container[displayed="true"] .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay {
  transition: background-color var(--b-cssvar-transition-duration);
}

/* highlighted: true */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay[highlighted="true"] {
  background-color: var(--b-cssvar-main-color-11);
}

/* container > panel > body > overlays > overlay > icon */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay .css_map_panel_overlay_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay .css_map_panel_overlay_icon span.css_material_symbols_rounded {
  color: var(--b-cssvar-333333);
  --b-cssvar-font-variation-settings-fill: 0;
}

/* highlighted: true */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay[highlighted="true"] .css_map_panel_overlay_icon span.css_material_symbols_rounded {
  color: var(--b-cssvar-main-color);
  --b-cssvar-font-variation-settings-fill: 1;
}

.css_map_field[displayed="true"] .css_map_panel_container[displayed="true"] .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay .css_map_panel_overlay_icon span.css_material_symbols_rounded {
  transition: color var(--b-cssvar-transition-duration), --b-cssvar-font-variation-settings-fill var(--b-cssvar-transition-duration);
}

/* container > panel > body > overlays > overlay > name */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay .css_map_panel_overlay_name {
  position: absolute;
  top: 0px;
  left: 50px;
  width: calc(100% - 50px);
  height: 50px;
  display: flex;
  align-items: center;
  overflow: clip;
  color: var(--b-cssvar-333333);
  font-size: 16px;
  word-break: keep-all;
  white-space: nowrap;
}

/* highlighted: true */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay[highlighted="true"] .css_map_panel_overlay_name {
  color: var(--b-cssvar-main-color);
}

.css_map_field[displayed="true"] .css_map_panel_container[displayed="true"] .css_map_panel .css_map_panel_body .css_map_panel_overlays .css_map_panel_overlay .css_map_panel_overlay_name {
  transition: color var(--b-cssvar-transition-duration);
}

/* container > panel > body > views */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_views {
  position: relative;
  width: 100%;
}

/* container > panel > body > views > view */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_views .css_map_panel_view {
  position: relative;
  width: 100%;
  height: 45px;
  touch-action: manipulation;
}

/* container > panel > body > views > view > icon */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_views .css_map_panel_view .css_map_panel_view_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_views .css_map_panel_view .css_map_panel_view_icon span.css_material_symbols_rounded {
  color: var(--b-cssvar-333333);
}

/* container > panel > body > views > view > name */
.css_map_field .css_map_panel_container .css_map_panel .css_map_panel_body .css_map_panel_views .css_map_panel_view .css_map_panel_view_name {
  position: absolute;
  top: 0px;
  left: 45px;
  width: calc(100% - 45px);
  /* icon: 45px */
  height: 45px;
  display: flex;
  align-items: center;
  overflow: clip;
  color: var(--b-cssvar-333333);
  font-size: 16px;
}