/* actions */
.css_location_details_field .css_location_details_body .css_location_details_actions {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  margin-top: calc(10px + 55px);
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

/* actions > action */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action {
  position: relative;
  width: 100%;
  height: 55px;
}

/* actions > action > icon */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action .css_location_details_action_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* skeleton-screen: true */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action[skeleton-screen="true"] .css_location_details_action_icon {
  top: 12.5px;
  left: 12.5px;
  width: 30px;
  height: 30px;
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action .css_location_details_action_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

/* skeleton-screen: true */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action[skeleton-screen="true"] .css_location_details_action_icon span.css_material_symbols_rounded {
  visibility: hidden;
}

/* actions > action > name */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action .css_location_details_action_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px - 12.5px);
  /* icon: 55px + padding: 12.5px */
  height: 55px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  font-size: 18px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
}

/* skeleton-screen: true */
.css_location_details_field .css_location_details_body .css_location_details_actions .css_location_details_action[skeleton-screen="true"] .css_location_details_action_name {
  top: 12.5px;
  height: 30px;
  border-radius: var(--b-cssvar-border-radius-normal);
  color: rgba(0, 0, 0, 0);
}