.css_location_details_field .css_location_details_body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.css_location_details_field .css_location_details_body::-webkit-scrollbar {
  display: none;
}