.css_home_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% + var(--b-cssvar-safe-area-top));
  background: var(--b-cssvar-f9f9fb-blocky);
  display: block;
  overflow: clip;
  visibility: hidden;
}

.css_home_field[displayed="true"] {
  visibility: visible;
}