.css_home_field .css_home_body .css_home_folders {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder:last-child {
  margin-bottom: var(--safe-area-bottom);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_icon svg {
  height: 15px;
  width: 15px;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_icon svg path {
  fill: var(--b-cssvar-333333);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff);
  border-radius: 20px;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status {
  position: absolute;
  top: 7.5px;
  left: 10px;
  height: 35px;
  width: 70px;
  border-radius: 25px;
  overflow: hidden;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide,
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 70px;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b-cssvar-333333);
  font-size: 13px;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  background: var(--b-cssvar-ededf2);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="6"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="6"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="5"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="5"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="4"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="4"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="3"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="3"] {
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-c));
  font-size: 13px;
  font-weight: 500;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="2"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="2"] {
  color: var(--b-cssvar-ffffff);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="1"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color-solid-transparent-c)
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="0.5"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="0.5"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_next_slide[code="0"],
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_current_slide[code="0"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
  transition: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_status .css_slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_route {
  position: absolute;
  top: 7.5px;
  left: 90px;
  width: calc(100% - 90px - 10px);
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), 0.7);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content .css_home_folder_item_stop .css_home_folder_item_stop_name {
  position: absolute;
  top: 21.5px;
  left: 90px;
  width: calc(100% - 90px - 10px);
  font-size: 16px;
  height: 23px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_item_stop[skeleton-screen="true"] .css_home_folder_item_stop_name,
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_item_stop[skeleton-screen="true"] .css_home_folder_item_stop_route {
  color: rgba(0, 0, 0, 0);
  top: 7.5px;
  height: 35px;
  border-radius: 30px;
}

.css_home_field .css_home_body .css_home_folders[skeleton-screen="true"] .css_home_folder .css_home_folder_head .css_home_folder_icon {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_name {
  top: 5px;
  left: 25px;
  width: 50px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_item_stop[skeleton-screen="true"] .css_home_folder_item_stop_status .css_next_slide,
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_item_stop[skeleton-screen="true"] .css_home_folder_item_stop_status .css_current_slide,
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_item_stop[skeleton-screen="true"] .css_home_folder_item_stop_name {
  background: var(--b-cssvar-ededf2);
  /*background: linear-gradient(90deg, rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 1) 35%, rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 0.45) 55%, rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 1) 75%);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: skeleton-loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;*/
}

.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_name,
.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_icon {
  background: var(--b-cssvar-ededf2);
  /*background: linear-gradient(90deg, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 35%, rgba(var(--b-cssvar-ffffff-r), var(--b-cssvar-ffffff-g), var(--b-cssvar-ffffff-b), 0.225) 55%, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 75%);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: skeleton-loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;*/
}