@property --b-cssvar-stroke-dashoffset {
  syntax: '<length>';
  inherits: false;
  initial-value: 189px;
}

@property --b-cssvar-search-icon-scale {
  syntax: '<number>';
  inherits: false;
  initial-value: 1.4201187871;
}

@property --b-cssvar-home-update-timer-offset-ratio {
  syntax: '<number>';
  inherits: false;
  initial-value: -1;
}

@property --b-cssvar-home-update-timer-interval {
  syntax: '<time>';
  inherits: false;
  initial-value: 0ms;
}

.css_home_field .css_home_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 80%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.css_home_field .css_home_head .css_home_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.css_home_field .css_home_head .css_home_button_left,
.css_home_field .css_home_head .css_home_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_home_field .css_home_head .css_home_button_left {
  top: 0px;
  left: 0px;
}

.css_home_field .css_home_head .css_home_button_right {
  top: 0px;
  right: 0px;
}

.css_home_field .css_home_head .css_home_button_left span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg {
  position: absolute;
  top: 17.5px;
  left: 17.5px;
  width: 20px;
  height: 20px;
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg path[arrow="arrow"],
.css_home_field .css_home_head .css_home_button_right svg#search-svg path {
  fill: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg path[track="track"],
.css_home_field .css_home_head .css_home_button_right svg#download-svg path[progress="progress"] {
  stroke: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg path[progress="progress"] {
  stroke-dasharray: 189px;
  stroke-dashoffset: var(--b-cssvar-stroke-dashoffset);
  transition: --b-cssvar-stroke-dashoffset var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_home_field .css_home_head .css_home_button_right svg#search-svg {
  transform: scale(var(--b-cssvar-search-icon-scale));
  transform-origin: top left;
  opacity: 0;
  transition: transform var(--b-cssvar-transition-duration), opacity var(--b-cssvar-transition-duration);
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg {
  transform: scale(1);
  transform-origin: top left;
  opacity: 1;
  transition: transform var(--b-cssvar-transition-duration), opacity var(--b-cssvar-transition-duration);
}

.css_home_field .css_home_head .css_home_button_right[complete="true"] svg#search-svg {
  transform: scale(1);
  opacity: 1;
}

.css_home_field .css_home_head .css_home_button_right[complete="true"] svg#download-svg {
  transform: scale(calc(1 / var(--b-cssvar-search-icon-scale)));
  opacity: 0;
}

.css_home_field .css_home_head .css_home_update_timer_box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background: var(--b-cssvar-ededf2);
  contain: layout;
}

.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-e));
  contain: layout;
}

.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer[refreshing="true"] {
  transform: translateX(calc(var(--b-cssvar-home-update-timer-offset-ratio) * 100%));
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer.css_home_update_timer_slide_rtl {
  animation-name: slideRTL;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: var(--b-cssvar-home-update-timer-interval);
}