@property --b-cssvar-stroke-dashoffset {
  syntax: '<length>';
  inherits: false;
  initial-value: 189px;
}

@property --b-cssvar-search-icon-scale {
  syntax: '<number>';
  inherits: false;
  initial-value: 1.4201187871;
}

@property --b-cssvar-home-update-timer-scale-x {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --b-cssvar-home-update-timer-interval {
  syntax: '<time>';
  inherits: false;
  initial-value: 0ms;
}

/* head */
.css_home_field .css_home_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(55px + var(--b-cssvar-safe-area-top));
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

/* head > title */
.css_home_field .css_home_head .css_home_title {
  position: absolute;
  top: var(--b-cssvar-safe-area-top);
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

/* head > button */
.css_home_field .css_home_head .css_home_button_left,
.css_home_field .css_home_head .css_home_button_right {
  position: absolute;
  top: var(--b-cssvar-safe-area-top);
  width: 55px;
  height: 55px;
}

.css_home_field .css_home_head .css_home_button_left {
  left: 0px;
}

.css_home_field .css_home_head .css_home_button_right {
  right: 0px;
}

.css_home_field .css_home_head .css_home_button_left span.css_material_symbols_rounded {
  position: absolute;
  top: calc((55px - 20px) / 2);
  left: calc((55px - 20px) / 2);
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg {
  position: absolute;
  top: calc((55px - 20px) / 2);
  left: calc((55px - 20px) / 2);
  width: 20px;
  height: 20px;
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg path[component="arrow"],
.css_home_field .css_home_head .css_home_button_right svg#search-svg path {
  fill: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg path[component="track"],
.css_home_field .css_home_head .css_home_button_right svg#download-svg path[component="progress"] {
  stroke: var(--b-cssvar-333333);
}

.css_home_field .css_home_head .css_home_button_right svg path[component="progress"] {
  stroke-dasharray: 189px;
  stroke-dashoffset: var(--b-cssvar-stroke-dashoffset);
  transition: --b-cssvar-stroke-dashoffset var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_home_field .css_home_head .css_home_button_right svg#search-svg {
  transform: scale(var(--b-cssvar-search-icon-scale));
  transform-origin: top left;
  opacity: 0;
  transition: transform var(--b-cssvar-transition-duration), opacity var(--b-cssvar-transition-duration);
}

.css_home_field .css_home_head .css_home_button_right svg#download-svg {
  transform: scale(1);
  transform-origin: top left;
  opacity: 1;
  transition: transform var(--b-cssvar-transition-duration), opacity var(--b-cssvar-transition-duration);
}

.css_home_field .css_home_head .css_home_button_right[complete="true"] svg#search-svg {
  transform: scale(1);
  opacity: 1;
}

.css_home_field .css_home_head .css_home_button_right[complete="true"] svg#download-svg {
  transform: scale(calc(1 / var(--b-cssvar-search-icon-scale)));
  opacity: 0;
}

/* head > update timer box */
.css_home_field .css_home_head .css_home_update_timer_box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  overflow: clip;
  background: var(--b-cssvar-ededf2);
  contain: layout;
}

/* head > update timer box > update timer */
.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--b-cssvar-333333-33-flattened);
  transform-origin: top left;
}

/* refreshing: true */
.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer[refreshing="true"] {
  transform: scaleX(var(--b-cssvar-home-update-timer-scale-x));
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_home_field .css_home_head .css_home_update_timer_box .css_home_update_timer.css_home_update_timer_slide_rtl {
  animation-name: scaledown;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: var(--b-cssvar-home-update-timer-interval);
}