.css_route_details_field .css_route_details_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(55px + var(--b-cssvar-safe-area-top));
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_route_details_field .css_route_details_head .css_route_details_button_left {
  position: absolute;
  top: var(--b-cssvar-safe-area-top);
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.css_route_details_field .css_route_details_head .css_route_details_button_left span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_route_details_field .css_route_details_head .css_route_details_title {
  position: absolute;
  top: var(--b-cssvar-safe-area-top);
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}