.css_qrcode_field .css_qrcode_body svg {
  position: relative;
  width: clamp(200px, 60%, 400px);
  aspect-ratio: 1 / 1;
}

.css_qrcode_field .css_qrcode_body svg path {
  fill: var(--b-cssvar-333333);
}