.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px + var(--b-cssvar-safe-area-top));
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group .css_personal_schedule_editor_group_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group .css_personal_schedule_editor_group_head .css_personal_schedule_editor_group_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group .css_personal_schedule_editor_group_head .css_personal_schedule_editor_group_icon span.css_material_symbols_rounded {
  height: 15px;
  width: 15px;
  color: var(--b-cssvar-333333);
  font-size: 18px;
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group .css_personal_schedule_editor_group_head .css_personal_schedule_editor_group_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
}

.css_personal_schedule_editor_field .css_personal_schedule_editor_body .css_personal_schedule_editor_groups .css_personal_schedule_editor_group .css_personal_schedule_editor_group_body {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
}