.css_route_calendar_field .css_route_calendar_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  background: var(--b-cssvar-large-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_left,
.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_right {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_left span.css_material_symbols_rounded,
.css_route_calendar_field .css_route_calendar_head .css_route_calendar_button_right span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--b-cssvar-333333);
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
  text-overflow: ellipsis;
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_days {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 35px;
  overflow: clip;
  contain: layout;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(7, 1fr);
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_days .css_route_calendar_day {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_calendar_field .css_route_calendar_head .css_route_calendar_days .css_route_calendar_day span {
  padding: 3px 12px;
  font-size: 17px;
  color: var(--b-cssvar-333333-60-flattened);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color var(--b-cssvar-transition-duration), color var(--b-cssvar-transition-duration);
}

/* highlighted: true */
.css_route_calendar_field .css_route_calendar_head .css_route_calendar_days .css_route_calendar_day[highlighted="true"] span {
  padding: 3px 12px;
  font-size: 17px;
  font-weight: 500;
  background-color: var(--b-cssvar-main-color);
  color: var(--b-cssvar-333333);
}