/* timelines */
.css_route_calendar_field .css_route_calendar_timelines {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: clip;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(3, 100%);
}

.css_route_calendar_field .css_route_calendar_timelines::-webkit-scrollbar {
  display: none;
}

/* timelines > timeline */
.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: auto;
  overscroll-behavior-y: contain;
  scroll-snap-align: center;
  contain: layout;
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline::-webkit-scrollbar {
  display: none;
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg {
  position: relative;
  top: 55px;
  left: 0px;
  width: 100%;
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg path[component="gridline"] {
  stroke: var(--b-cssvar-aeaeb2);
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg text[component="gridline-label"] {
  fill: var(--b-cssvar-aeaeb2);
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg path[component="event-box"] {
  fill: var(--b-cssvar-main-color-11);
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg path[component="event-decoration"] {
  stroke: var(--b-cssvar-main-color);
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg text[component="event-title"] {
  fill: var(--b-cssvar-main-color);
}

.css_route_calendar_field .css_route_calendar_timelines .css_route_calendar_timeline svg text[component="event-description"] {
  fill: var(--b-cssvar-333333-60-flattened);
}