.css_personal_schedule_manager_field .css_personal_schedule_manager_body .css_personal_schedule_manager_list {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  height: auto;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  margin-top: calc(10px + 55px + var(--b-cssvar-safe-area-top));
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}