/* folders */
.css_home_field .css_home_body .css_home_folders {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

/* folders > folder */
.css_home_field .css_home_body .css_home_folders .css_home_folder {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

/* folders > folder > head */
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

/* folders > folder > head > icon */
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_folders[skeleton-screen="true"] .css_home_folder .css_home_folder_head .css_home_folder_icon {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
}

.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_icon span.css_material_symbols_rounded {
  height: 15px;
  width: 15px;
  font-size: 18px;
  color: var(--b-cssvar-333333);
}

/* folders > folder > head > name */
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_head .css_home_folder_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

/* skeleton screen: true */
.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_name {
  top: 5px;
  left: 25px;
  width: 50px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
}

/* folders > folder > content */
.css_home_field .css_home_body .css_home_folders .css_home_folder .css_home_folder_content {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff);
  border-radius: 20px;
}

.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_name,
.css_home_field .css_home_body .css_home_folders .css_home_folder[skeleton-screen="true"] .css_home_folder_head .css_home_folder_icon {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 0%, rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 0.5) 50%, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}