.search_page_keyboard {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: clamp(200px, 36%, 270px);
  padding: 10px;
  padding-bottom: calc(var(--safe-area-bottom) + 10px);
  box-sizing: border-box;
  background: var(--b-ffffff);
  user-select: none;
  -webkit-user-select: none;
  display: none;
}

.search_page_keyboard[displayed="true"] {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

.search_page_keyboard .search_page_keyboard_key {
  position: relative;
  background: var(--b-ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  color: var(--b-333333);
  border: 1px solid var(--b-ededf2);
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

.search_page_keyboard .search_page_keyboard_key svg {
  width: 20px;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.search_page_keyboard .search_page_keyboard_key svg path {
  fill: var(--b-333333);
}

.search_page_field .search_page_head .search_page_search_input .cursor {
  position: absolute;
  top: 15px;
  left: 0px;
  height: 25px;
  width: 2px;
  background: var(--b-main-color);
  border-radius: 5px;
  animation-name: cursor;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: top left;
  display: block;
  transform: translateX(var(--cursor-offset));
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}