.css_settings_field .css_settings_head,
.css_settings_options_field .css_settings_options_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_settings_field .css_settings_head .css_settings_button_left,
.css_settings_field .css_settings_head .css_settings_button_right,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_left,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_settings_field .css_settings_head .css_settings_button_left,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_left {
  top: 0px;
  left: 0px;
}

.css_settings_field .css_settings_head .css_settings_button_right,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_right {
  top: 0px;
  right: 0px;
}

.css_settings_field .css_settings_head .css_settings_button_left span.css_material_symbols_rounded,
.css_settings_field .css_settings_head .css_settings_button_right span.css_material_symbols_rounded,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_left span.css_material_symbols_rounded,
.css_settings_options_field .css_settings_options_head .css_settings_options_button_right span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_settings_field .css_settings_head .css_settings_title,
.css_settings_options_field .css_settings_options_head .css_settings_options_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}