.settings_page_field,
.settings_options_page_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-f9f9fb);
  display: none;
}

.settings_page_field[displayed="true"],
.settings_options_page_field[displayed="true"] {
  display: block;
}

.settings_page_field .settings_page_head,
.settings_options_page_field .settings_options_page_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-ededf2);
  box-sizing: border-box;
  background: var(--b-ffffff);
}

.settings_page_field .settings_page_head .settings_page_button_left,
.settings_page_field .settings_page_head .settings_page_button_right,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_left,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings_page_field .settings_page_head .settings_page_button_left .settings_options_page_field .settings_options_page_head .settings_options_page_button_left {
  top: 0px;
  left: 0px;
}

.settings_page_field .settings_page_head .settings_page_button_right,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_right {
  top: 0px;
  right: 0px;
}

.settings_page_field .settings_page_head .settings_page_button_left svg,
.settings_page_field .settings_page_head .settings_page_button_right svg,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_left svg,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_right svg {
  width: 20px;
  height: 20px;
}

.settings_page_field .settings_page_head .settings_page_button_left svg path,
.settings_page_field .settings_page_head .settings_page_button_right svg path,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_left svg path,
.settings_options_page_field .settings_options_page_head .settings_options_page_button_right svg path {
  fill: var(--b-333333);
}

.settings_page_field .settings_page_head .settings_page_title,
.settings_options_page_field .settings_options_page_head .settings_options_page_title {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  color: var(--b-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_body,
.settings_options_page_field .settings_options_page_body {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  height: calc(100% - 55px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.settings_page_field .settings_page_settings,
.settings_options_page_field .settings_options_page_options {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-ffffff);
  border-radius: 20px;
  margin-top: 10px;
}

.settings_page_field .settings_page_settings .setting,
.settings_options_page_field .settings_options_page_options .option {
  position: relative;
  width: 100%;
  height: 55px;
}

.settings_page_field .settings_page_settings .setting .setting_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_settings .setting .setting_icon svg {
  width: 20px;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_settings .setting .setting_icon svg path {
  fill: var(--b-333333);
}

.settings_page_field .settings_page_settings .setting .setting_name,
.settings_options_page_field .settings_options_page_options .option .option_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px - 45px - 60px);
  height: 55px;
  display: flex;
  align-items: center;
  color: var(--b-333333);
  font-size: 18px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.settings_options_page_field .settings_options_page_options .option .option_name {
  width: calc(100% - 55px - 17.5px);
  left: 17.5px;
}

.settings_page_field .settings_page_settings .setting .setting_status {
  position: absolute;
  top: 0px;
  right: 45px;
  width: 60px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: rgba(var(--b-333333-r), var(--b-333333-g), var(--b-333333-b), var(--b-333333-opacity-c));
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_settings .setting .setting_arrow {
  position: absolute;
  top: 0px;
  right: 17.5px;
  width: 20px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_settings .setting .setting_arrow svg {
  width: 20px;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.settings_page_field .settings_page_settings .setting .setting_arrow svg path {
  fill: rgba(var(--b-333333-r), var(--b-333333-g), var(--b-333333-b), var(--b-333333-opacity-b));
}

.settings_options_page_field .settings_options_page_options .option .option_checkbox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --b-checkbox-alpha {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --b-checkbox-radius {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

.settings_options_page_field .settings_options_page_options .option .option_checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background: radial-gradient(circle, rgba(var(--b-main-color-r), var(--b-main-color-g), var(--b-main-color-b), var(--b-checkbox-alpha)) 0%, rgba(var(--b-main-color-r), var(--b-main-color-g), var(--b-main-color-b), var(--b-checkbox-alpha)) var(--b-checkbox-radius), rgba(0, 0, 0, 0) var(--b-checkbox-radius), rgba(0, 0, 0, 0) 100%);
  width: 25px;
  height: 25px;
  border-color: var(--b-ededf2);
  border-style: solid;
  border-width: 2.5px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: --b-checkbox-radius 0.3s, --b-checkbox-alpha 0.3s, border-color 0.3s;
  transition-timing-function: ease-out;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.settings_options_page_field .settings_options_page_options .option .option_checkbox input[type="checkbox"]:checked {
  --b-checkbox-radius: 58%;
  --b-checkbox-alpha: 1;
  border-color: var(--b-main-color);
}