.css_settings_field .css_settings_body .css_settings,
.css_settings_options_field .css_settings_options_body .css_settings_options {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  display: inline-block;
  background: var(--b-cssvar-ffffff-blocky);
  border-radius: var(--b-cssvar-border-radius-normal);
  margin-top: calc(10px + 55px);
}

.css_settings_field .css_settings_body .css_settings {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_settings_field .css_settings_body .css_settings .css_setting,
.css_settings_options_field .css_settings_options_body .css_settings_options .css_option {
  position: relative;
  width: 100%;
  height: 55px;
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_name,
.css_settings_options_field .css_settings_options_body .css_settings_options .css_option .css_option_name {
  position: absolute;
  top: 12.5px;
  left: 55px;
  width: calc(100% - 55px - 45px - 60px);
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  font-size: 18px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
}

.css_settings_options_field .css_settings_options_body .css_settings_options .css_option .css_option_name {
  width: calc(100% - 55px - 17.5px);
  left: 17.5px;
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_status {
  position: absolute;
  top: 0px;
  right: 45px;
  width: 120px;
  height: 55px;
  color: var(--b-cssvar-333333-60-flattened);
  line-height: 55px;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  overflow: clip;
  contain: layout;
}

.css_settings_field .css_settings_body .css_settings .css_setting[type="info"] .css_setting_status,
.css_settings_field .css_settings_body .css_settings .css_setting[type="action"] .css_setting_status {
  right: 17.5px;
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_arrow {
  position: absolute;
  top: 0px;
  right: 17.5px;
  width: 20px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_settings_field .css_settings_body .css_settings .css_setting[type="info"] .css_setting_arrow,
.css_settings_field .css_settings_body .css_settings .css_setting[type="action"] .css_setting_arrow {
  display: none;
}

.css_settings_field .css_settings_body .css_settings .css_setting .css_setting_arrow span.css_material_symbols_rounded {
  width: 15px;
  height: 15px;
  font-size: 18px;
  color: var(--b-cssvar-333333-60-flattened);
}

.css_settings_options_field .css_settings_options_body .css_settings_options .css_option .css_option_checkbox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --b-cssvar-checkbox-alpha {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --b-cssvar-checkbox-radius {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 32%;
}

.css_settings_options_field .css_settings_options_body .css_settings_options .css_option .css_option_checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background: radial-gradient(circle, rgba(var(--b-cssvar-main-color-r), var(--b-cssvar-main-color-g), var(--b-cssvar-main-color-b), var(--b-cssvar-checkbox-alpha)) 0%, rgba(var(--b-cssvar-main-color-r), var(--b-cssvar-main-color-g), var(--b-cssvar-main-color-b), var(--b-cssvar-checkbox-alpha)) var(--b-cssvar-checkbox-radius), rgba(0, 0, 0, 0) var(--b-cssvar-checkbox-radius), rgba(0, 0, 0, 0) 100%);
  width: 25px;
  height: 25px;
  border-color: var(--b-cssvar-ededf2);
  border-style: solid;
  border-width: 2.5px;
  border-radius: var(--b-cssvar-border-radius-normal);
  box-sizing: border-box;
  transition: --b-cssvar-checkbox-radius var(--b-cssvar-transition-duration), --b-cssvar-checkbox-alpha var(--b-cssvar-transition-duration), border-color var(--b-cssvar-transition-duration);
  transition-timing-function: ease-out;
}

.css_settings_options_field .css_settings_options_body .css_settings_options .css_option .css_option_checkbox input[type="checkbox"]:checked {
  --b-cssvar-checkbox-radius: 58%;
  --b-cssvar-checkbox-alpha: 1;
  border-color: var(--b-cssvar-main-color);
}

.css_settings_options_field .css_settings_options_body .css_options_description {
  position: relative;
  left: calc(10px + 5px);
  width: calc(100% - 10px * 2 - 5px * 2);
  color: var(--b-cssvar-333333-60-flattened);
  font-size: 15px;
  white-space: pre-line;
  word-break: break-all;
  margin-top: 5px;
  margin-bottom: var(--b-cssvar-safe-area-bottom);
  text-align: justify;
}
