@property --b-calendar-ratio {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_days {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_days .route_information_calendar_day {
  background: var(--b-f9f9fb);
  color: var(--b-333333);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_days .route_information_calendar_day[selected="true"] {
  background: var(--b-main-color);
  color: var(--b-ffffff);
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_gridlines {
  position: absolute;
  top: 60px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(24 * var(--b-calendar-ratio));
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_gridlines .route_information_calendar_gridline {
  position: absolute;
  top: var(--b-calendar-gridline-top);
  left: 0px;
  height: 10px;
  width: 100%;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_gridlines .route_information_calendar_gridline .route_information_calendar_gridline_label {
  position: absolute;
  top: 0px;
  height: 10px;
  width: 45px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--b-aeaeb2);
  user-select: none;
  -webkit-user-select: none;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_gridlines .route_information_calendar_gridline .route_information_calendar_gridline_line {
  position: absolute;
  top: 5px;
  left: 45px;
  width: calc(100% - 45px);
  height: 1.2px;
  background: var(--b-ededf2);
  user-select: none;
  -webkit-user-select: none;
  border-radius: 2px;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_events_groups {
  position: absolute;
  top: 60px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(24 * var(--b-calendar-ratio));
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_events_groups .route_information_calendar_grouped_events {
  position: absolute;
  top: 0px;
  left: 45px;
  width: calc(100% - 45px);
  height: 100%;
  display: none;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_events_groups .route_information_calendar_grouped_events[displayed="true"] {
  display: block;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_events_groups .route_information_calendar_grouped_events .route_information_calendar_event {
  position: absolute;
  top: var(--b-calendar-event-top);
  left: 0px;
  width: 100%;
  height: var(--b-calendar-event-height);
  background: rgba(var(--b-main-color-r), var(--b-main-color-g), var(--b-main-color-b), var(--b-main-color-opacity-d));
  color: var(--b-main-color);
  border-radius: 3px 8px 8px 3px;
  user-select: none;
  -webkit-user-select: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.route_information_field .route_information_body .route_information_groups .route_information_group .route_information_group_body .route_information_calendar_events_groups .route_information_calendar_grouped_events .route_information_calendar_event::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  border-radius: 3px 0px 0px 3px;
  width: 3px;
  height: 100%;
  background: var(--b-main-color);
}