.css_schedule_notification_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-f9f9fb-blocky);
  display: block;
  visibility: hidden;
  overflow: clip;
}

.css_schedule_notification_field[displayed="true"] {
  visibility: visible;
}