.css_schedule_notification_field .css_schedule_notification_body .css_schedule_notification_list .css_schedule_notification_list_item {
  position: relative;
  width: 100%;
  height: 55px;
}

.css_schedule_notification_field .css_schedule_notification_body .css_schedule_notification_list .css_schedule_notification_list_item .css_schedule_notification_item_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
}

.css_schedule_notification_field .css_schedule_notification_body .css_schedule_notification_list .css_schedule_notification_list_item .css_schedule_notification_item_icon span.css_material_symbols_rounded {
  position: absolute;
  top: calc((55px - 20px) / 2);
  left: calc((55px - 20px) / 2);
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_schedule_notification_field .css_schedule_notification_body .css_schedule_notification_list .css_schedule_notification_list_item .css_schedule_notification_item_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px);
  height: 55px;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  font-weight: 400;
}