.css_prompt {
  width: clamp(180px, calc(100% - 20px), 450px);
  height: 50px;
  border-radius: var(--b-cssvar-border-radius-default);
  position: fixed;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  transform: translateX(-50%) translateY(80px) scale(1);
  background: rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 0.8);
  will-change: transform, opacity;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--b-cssvar-ededf2);
  box-shadow: 0px 0px 25px -19px rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.css_prompt .css_prompt_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_prompt .css_prompt_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_prompt .css_prompt_message {
  position: absolute;
  top: 0px;
  left: 50px;
  width: calc(100% - 50px);
  height: 50px;
  color: var(--b-cssvar-333333);
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  word-break: keep-all;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.css_prompt_animation {
  animation-name: css_show_prompt;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.21, .75, .1, .96);
}

@keyframes css_show_prompt {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(clamp(-45px, calc(-20px - var(--b-cssvar-safe-area-bottom)), -20px)) scale(0.8);
  }

  15% {
    opacity: 1;
    transform: translateX(-50%) translateY(clamp(-45px, calc(-20px - var(--b-cssvar-safe-area-bottom)), -20px)) scale(1);
  }

  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(clamp(-45px, calc(-20px - var(--b-cssvar-safe-area-bottom)), -20px)) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(clamp(-45px, calc(-20px - var(--b-cssvar-safe-area-bottom)), -20px)) scale(1);
  }
}

.css_prompt_animation .css_prompt_icon span.css_material_symbols_rounded {
  animation-name: css_fill_prompt_icon;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes css_fill_prompt_icon {
  0% {
    --b-cssvar-font-variation-settings-fill: 0;
  }

  100% {
    --b-cssvar-font-variation-settings-fill: 1;
  }
}