@keyframes css_show_prompt {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.98);
  }

  13% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  89% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
}

.css_prompt {
  width: clamp(180px, calc(100% - 20px), 450px);
  height: 45px;
  border-radius: var(--b-cssvar-border-radius-normal);
  position: fixed;
  left: 50%;
  bottom: calc(20px + var(--b-cssvar-safe-area-bottom));
  opacity: 0;
  transform: translateX(-50%) scale(0.98);
  background: rgba(var(--b-cssvar-f9f9fb-normal-r), var(--b-cssvar-f9f9fb-normal-g), var(--b-cssvar-f9f9fb-normal-b), 0.8);
  /* border: 1px solid var(--b-cssvar-ededf2); */
  box-shadow: 0px 0px 25px -19px rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  animation-name: css_show_prompt;
  animation-duration: 2800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  will-change: transform, opacity;
}

.css_prompt .css_prompt_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes css_fill_prompt_icon {
  0% {
    --b-cssvar-font-variation-settings-fill: 0;
  }

  13% {
    --b-cssvar-font-variation-settings-fill: 1;
  }

  100% {
    --b-cssvar-font-variation-settings-fill: 1;
  }
}

.css_prompt .css_prompt_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_prompt[animation="true"] .css_prompt_icon span.css_material_symbols_rounded {
  --b-cssvar-font-variation-settings-fill: 0;
  animation-name: css_fill_prompt_icon;
  animation-duration: 2800ms;
  /* avoid css_show_prompt from synchronizing with this shorter timeline */
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.css_prompt[animation="false"] .css_prompt_icon span.css_material_symbols_rounded {
  --b-cssvar-font-variation-settings-fill: 1;
}

.css_prompt .css_prompt_message {
  position: absolute;
  top: 0px;
  left: 45px;
  width: calc(100% - 45px);
  height: 45px;
  color: var(--b-cssvar-333333);
  font-size: 17px;
  word-break: keep-all;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
}