.css_search_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% + var(--b-cssvar-safe-area-top));
  background: var(--b-cssvar-ffffff-normal);
  display: block;
  visibility: hidden;
  overflow: clip;
}

.css_search_field[displayed="true"] {
  visibility: visible;
}