.css_search_field .css_search_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: var(--b-cssvar-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
  overflow: clip;
  contain: layout;
}

.css_search_field .css_search_head .css_search_search_input {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px - 55px);
  height: 55px;
  overflow: clip;
  contain: layout;
}

.css_search_field .css_search_head .css_search_search_input svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  pointer-events: none;
}

.css_search_field .css_search_head .css_search_search_input svg text[component="text"] {
  white-space: pre;
  fill: var(--b-cssvar-aeaeb2);
}

/* empty: false */
.css_search_field .css_search_head .css_search_search_input svg text[component="text"][empty="false"] {
  fill: var(--b-cssvar-333333);
}

.css_search_field .css_search_head .css_search_search_input svg path[component="cursor"] {
  stroke: var(--b-cssvar-main-color);
  stroke-width: 1.8;
}

/* selection: true */
.css_search_field .css_search_head .css_search_search_input svg path[component="cursor"][selection="true"] {
  visibility: hidden;
}

.css_search_field .css_search_head .css_search_search_input input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0);
  caret-color: rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), 0);
  resize: none;
}

.css_search_field .css_search_head .css_search_search_input input[selection="true"] {
  caret-color: var(--b-cssvar-main-color);
}

.css_search_field .css_search_head .css_search_button_left,
.css_search_field .css_search_head .css_search_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_search_field .css_search_head .css_search_button_left {
  top: 0px;
  left: 0px;
}

.css_search_field .css_search_head .css_search_button_right {
  top: 0px;
  right: 0px;
}

.css_search_field .css_search_head .css_search_button_left span.css_material_symbols_rounded,
.css_search_field .css_search_head .css_search_button_right span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
}

.css_search_field .css_search_head .css_search_button_left span.css_material_symbols_rounded {
  color: var(--b-cssvar-333333);
}

.css_search_field .css_search_head .css_search_button_right[type="-1"] span.css_material_symbols_rounded {
  color: var(--b-cssvar-aeaeb2);
}

.css_search_field .css_search_head .css_search_button_right[type="0"] span.css_material_symbols_rounded,
.css_search_field .css_search_head .css_search_button_right[type="1"] span.css_material_symbols_rounded,
.css_search_field .css_search_head .css_search_button_right[type="2"] span.css_material_symbols_rounded {
  color: var(--b-cssvar-main-color);
  text-shadow: 0px 0px 5px rgba(var(--b-cssvar-main-color-r), var(--b-cssvar-main-color-g), var(--b-cssvar-main-color-b), 0.6);
  overflow: visible;
}