.css_search_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-ffffff-normal);
  display: block;
  visibility: hidden;
}

.css_search_field[displayed="true"] {
  visibility: visible;
}

.css_search_field .css_search_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--b-cssvar-ededf2);
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 80%, rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.css_search_field .css_search_head .css_search_search_input {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px);
  height: 55px;
}

.css_search_field .css_search_head .css_search_search_input canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  user-select: none;
  -webkit-user-select: none;
}

.css_search_field .css_search_head .css_search_search_input input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0px;
  color: transparent;
  caret-color: rgba(var(--b-cssvar-ffffff-normal-r), var(--b-cssvar-ffffff-normal-g), var(--b-cssvar-ffffff-normal-b), 0);
  resize: none;
  opacity: 0.1;
}

.css_search_field .css_search_head .css_search_button_left,
.css_search_field .css_search_head .css_search_button_right {
  position: absolute;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_search_field .css_search_head .css_search_button_left {
  top: 0px;
  left: 0px;
}

.css_search_field .css_search_head .css_search_button_right {
  top: 0px;
  right: 0px;
}

.css_search_field .css_search_head .css_search_button_left span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_search_field .css_search_body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.css_search_field .css_search_body .css_search_results {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - clamp(200px, 36%, 270px));
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  user-select: none;
  -webkit-user-select: none;
  background: var(--b-cssvar-ffffff-normal);
}

.css_search_field .css_search_body .css_search_results::-webkit-scrollbar {
  display: none;
}

.css_search_field .css_search_body .css_search_results .css_search_search_result {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.css_search_field .css_search_body .css_search_results .css_search_search_result:first-child {
  margin-top: 55px;
}

.css_search_field .css_search_body .css_search_results .css_search_search_result .css_search_search_result_type {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_search_field .css_search_body .css_search_results .css_search_search_result .css_search_search_result_type span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--b-cssvar-333333);
}

.css_search_field .css_search_body .css_search_results .css_search_search_result .css_search_search_result_route_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 55px);
  height: 50px;
  display: flex;
  font-size: 20px;
  color: var(--b-cssvar-333333);
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  white-space: nowrap;
  word-break: keep-all;
}