.css_search_keyboard {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: clamp(200px, 36%, 270px);
  padding: 10px;
  padding-bottom: calc(var(--b-cssvar-safe-area-bottom) + 10px);
  box-sizing: border-box;
  background: var(--b-cssvar-ffffff-normal);
  border-top: 1px solid var(--b-cssvar-f9f9fb-normal);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

.css_search_keyboard .css_search_keyboard_key {
  position: relative;
  background: var(--b-cssvar-f9f9fb-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--b-cssvar-border-radius-normal);
  font-size: 20px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  /* 
  border: 1px solid var(--b-cssvar-f9f9fb-normal);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.1);
  */
  box-sizing: border-box;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0px;
  margin: 0px;
  touch-action: manipulation;
}

.css_search_keyboard .css_search_keyboard_key span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}