.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property {
  position: relative;
  width: 100%;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property .css_bus_property_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property .css_bus_property_icon span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property .css_bus_property_value {
  position: absolute;
  top: 0px;
  left: 40px;
  width: calc(100% - 40px);
  height: 30px;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[skeleton-screen="true"] .css_bus_property_icon {
  top: 5px;
  height: 20px;
  width: 20px;
  left: 10px;
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[skeleton-screen="true"] .css_bus_property_icon span.css_material_symbols_rounded {
  color: rgba(0, 0, 0, 0);
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[skeleton-screen="true"] .css_bus_property_value {
  top: 5px;
  height: 20px;
  width: calc(100% - 40px - 10px);
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[animation="true"][skeleton-screen="true"] .css_bus_property_icon,
.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[animation="true"][skeleton-screen="true"] .css_bus_property_value {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 0%, rgba(var(--b-cssvar-ffffff-blocky-r), var(--b-cssvar-ffffff-blocky-g), var(--b-cssvar-ffffff-blocky-b), 0.5) 50%, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: var(--b-cssvar-transition-timing-function-a);
}

.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[animation="false"][skeleton-screen="true"] .css_bus_property_icon,
.css_bus_field .css_bus_body .css_bus_groups .css_bus_group[group="properties"] .css_bus_group_body .css_bus_property[animation="false"][skeleton-screen="true"] .css_bus_property_value {
  background: var(--b-cssvar-ededf2);
}