/* recent-views */
.css_home_field .css_home_body .css_home_recent_views {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: calc(10px + 55px);
}

/* recent-views > head */
.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_head {
  position: relative;
  width: calc(100% - 20px);
  left: 10px;
  height: 25px;
  display: flex;
  align-items: center;
}

/* recent-views > head > icon */
.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_head .css_home_recent_views_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_home_field .css_home_body .css_home_recent_views[skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_icon {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
}

.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_head .css_home_recent_views_icon span.css_material_symbols_rounded {
  height: 15px;
  width: 15px;
  font-size: 18px;
  color: var(--b-cssvar-333333);
}

.css_home_field .css_home_body .css_home_recent_views[skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_icon span.css_material_symbols_rounded {
  display: none;
}

/* recent-views > head > name */
.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_head .css_home_recent_views_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 25px);
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--b-cssvar-333333);
  line-height: 20px;
}

/* skeleton screen: true */
.css_home_field .css_home_body .css_home_recent_views[skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_name {
  top: 5px;
  left: 25px;
  width: 50px;
  height: 15px;
  border-radius: var(--b-cssvar-border-radius-small);
  color: rgba(0, 0, 0, 0);
}

/* recent-views > content */
.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_content {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  height: 70px;
  border-radius: var(--b-cssvar-border-radius-normal);
  overflow-x: scroll;
  overflow-y: clip;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  word-break: keep-all;
}

.css_home_field .css_home_body .css_home_recent_views .css_home_recent_views_content::-webkit-scrollbar {
  display: none;
}

.css_home_field .css_home_body .css_home_recent_views[skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_name,
.css_home_field .css_home_body .css_home_recent_views[skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_icon {
  background: var(--b-cssvar-ededf2);
}

.css_home_field .css_home_body .css_home_recent_views[animation="true"][skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_name,
.css_home_field .css_home_body .css_home_recent_views[animation="true"][skeleton-screen="true"] .css_home_recent_views_head .css_home_recent_views_icon {
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-opacity-flattened-a) 0%, rgba(var(--b-cssvar-ffffff-blocky-r), var(--b-cssvar-ffffff-blocky-g), var(--b-cssvar-ffffff-blocky-b), 0.5) 50%, var(--b-cssvar-ededf2-opacity-flattened-a) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}