.css_route_field .css_route_head .css_route_name[skeleton-screen="true"] span,
.css_route_field .css_route_head .css_route_group_tabs[skeleton-screen="true"] .css_route_group_tabs_tray .css_route_group_tab span,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_items_track .css_route_group_item[skeleton-screen="true"] .css_route_group_item_head .css_route_group_item_name,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_items_track .css_route_group_item[skeleton-screen="true"] .css_route_group_item_head .css_route_group_item_capsule,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread_status {
  background: var(--b-cssvar-ededf2);
}

.css_route_field .css_route_head .css_route_name[animation="true"][skeleton-screen="true"] span,
.css_route_field .css_route_head .css_route_group_tabs[animation="true"][skeleton-screen="true"] .css_route_group_tabs_tray .css_route_group_tab span,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_items_track .css_route_group_item[animation="true"][skeleton-screen="true"] .css_route_group_item_head .css_route_group_item_name,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_items_track .css_route_group_item[animation="true"][skeleton-screen="true"] .css_route_group_item_head .css_route_group_item_capsule,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="true"] .css_route_group_thread,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="true"] .css_route_group_thread_status {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, var(--b-cssvar-ededf2-50-flattened) 0%, var(--b-cssvar-f9f9fb-normal-50-flatten) 50%, var(--b-cssvar-ededf2-50-flattened) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}