.css_route_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-ffffff);
  display: none;
}

.css_route_field[displayed="true"] {
  display: block;
}

.css_route_field .css_route_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(var(--b-cssvar-ffffff-r), var(--b-cssvar-ffffff-g), var(--b-cssvar-ffffff-b), var(--b-cssvar-ffffff-opacity-a)) 0%, rgba(var(--b-cssvar-ffffff-r), var(--b-cssvar-ffffff-g), var(--b-cssvar-ffffff-b), var(--b-cssvar-ffffff-opacity-b)) 70%, rgba(var(--b-cssvar-ffffff-r), var(--b-cssvar-ffffff-g), var(--b-cssvar-ffffff-b), var(--b-cssvar-ffffff-opacity-b)) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.css_route_field .css_route_head .css_route_button_left,
.css_route_field .css_route_head .css_route_button_right {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_field .css_route_head .css_route_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.css_route_field .css_route_head .css_route_button_right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.css_route_field .css_route_head .css_route_button_left svg,
.css_route_field .css_route_head .css_route_button_right svg {
  height: 20px;
  width: 20px;
}

.css_route_field .css_route_head .css_route_button_left svg path,
.css_route_field .css_route_head .css_route_button_right svg path {
  fill: var(--b-cssvar-333333);
}

.css_route_field .css_route_head .css_route_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.css_route_field .css_route_head .css_route_group_tabs {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(var(--b-cssvar-route-group-quantity), 1fr);
}

.css_route_field .css_route_head .css_route_group_tabs .css_route_group_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  color: var(--b-cssvar-333333);
  user-select: none;
  -webkit-user-select: none;
}

.css_route_field .css_route_head .css_route_group_tab_line_track {
  position: absolute;
  left: 0px;
  bottom: 1.2px;
  width: 100%;
  height: 2px;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_head .css_route_group_tab_line_track .css_route_group_tab_line {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0);
  width: var(--b-cssvar-r-fw);
  height: 2px;
  border-radius: 0px;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_head .css_route_update_timer_box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1.2px;
  overflow: hidden;
  background: var(--b-cssvar-ededf2);
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_head .css_route_update_timer_box .css_route_update_timer {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-d));
  height: 1.5px;
  width: 100%;
  transform: translateX(calc(var(--b-cssvar-update-timer) * 100%));
  transition: none;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_head .css_route_update_timer_box .css_route_update_timer[refreshing="true"] {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_route_field .css_route_groups {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(var(--b-cssvar-route-group-quantity), var(--b-cssvar-r-fw));
}

.css_route_field .css_route_groups .css_route_group {
  position: relative;
  top: 0px;
  left: 0px;
  width: var(--b-cssvar-r-fw);
  height: var(--b-cssvar-r-fh);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-align: center;
}

.css_route_field .css_route_groups .css_route_group::-webkit-scrollbar,
.css_route_field .css_route_groups::-webkit-scrollbar,
.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_buses::-webkit-scrollbar,
.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_overlapping_routes::-webkit-scrollbar {
  display: none;
}

.css_route_field .css_route_groups .css_route_group .css_item {
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  background: var(--b-cssvar-ffffff);
  -webkit-user-select: none;
  user-select: none;
  /*overflow: hidden;*/
  transition: none;
}

.css_route_field .css_route_groups .css_route_group .css_item:first-child {
  margin-top: 95px;
}

.css_route_field .css_route_groups .css_route_group .css_item:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] {
  height: 221px;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] {
  background: var(--b-cssvar-f9f9fb-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] {
  background: var(--b-cssvar-f9f9fb-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body {
  position: absolute;
  top: 50px;
  left: 55px;
  width: calc(100% - 55px);
  height: 171px;
  opacity: 0;
  transition: opacity var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] .css_body {
  opacity: 1;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs {
  position: absolute;
  top: 5px;
  left: 0px;
  width: calc(100% - 10px);
  height: 35px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  word-break: keep-all;
  border-radius: 30px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs::-webkit-scrollbar {
  display: none;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_tab,
.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button {
  position: relative;
  height: 35px;
  display: inline-flex;
  background: var(--b-cssvar-ededf2);
  color: var(--b-cssvar-333333);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 0px 9px;
  margin-right: 5px;
  box-sizing: border-box;
  font-size: 14px;
  transition: none;
  overflow: hidden;
  vertical-align: top;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button .css_action_button_icon {
  position: relative;
  display: inline-flex;
  height: 35px;
  width: 18px;
  align-items: center;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button .css_action_button_icon svg {
  width: 15px;
  height: 15px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[type="save-stop"] .css_action_button_icon svg path {
  fill: var(--b-cssvar-333333);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[type="save-stop"] .css_action_button_icon svg path[filling="filling"] {
  fill: rgba(0, 0, 0, 0)
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[highlighted="true"][type="save-stop"] .css_action_button_icon svg path,
.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[highlighted="true"][type="save-stop"] .css_action_button_icon svg path[filling="filling"] {
  fill: var(--b-cssvar-f4252c);
}

.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] .css_body .css_tabs .css_tab,
.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] .css_body .css_tabs .css_action_button {
  transition: background var(--b-cssvar-transition-duration), color var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] .css_body .css_tabs .css_action_button .css_action_button_icon svg path {
  transition: fill var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_body .css_tabs .css_tab,
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_body .css_tabs .css_action_button {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_body .css_tabs .css_tab,
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_body .css_tabs .css_action_button {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_tab[selected="true"],
.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[highlighted="true"] {
  background: var(--b-cssvar-333333);
  color: var(--b-cssvar-ffffff);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_body .css_tabs .css_action_button[highlighted="true"][type="save-stop"] {
  background: rgba(var(--b-cssvar-f4252c-r), var(--b-cssvar-f4252c-g), var(--b-cssvar-f4252c-b), var(--b-cssvar-f4252c-opacity-a));
  color: var(--b-cssvar-f4252c);
}

@property --b-cssvar-thread-progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_thread {
  position: absolute;
  top: 25px;
  left: 26.5px;
  width: 2px;
  height: clamp(50px, calc(100% + 50px), 200%);
  background: linear-gradient(180deg, var(--b-cssvar-main-color) 0%, var(--b-cssvar-main-color) var(--b-cssvar-thread-progress), var(--b-cssvar-ededf2) var(--b-cssvar-thread-progress), var(--b-cssvar-ededf2) 100%);
  z-index: 2;
  transition: --b-cssvar-thread-progress var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name {
  position: absolute;
  top: 5px;
  left: 55px;
  height: 40px;
  width: calc(100% - 20px - 70px - 20px);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status {
  position: absolute;
  top: 20px;
  left: 22.5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--b-cssvar-ededf2);
  z-index: 5;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  background: var(--b-cssvar-ededf2);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide {
  height: 10px;
  width: 10px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide {
  width: 50px;
  height: 25px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="3"] {
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-c));
  font-size: 13px;
  font-weight: 500;
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="2"] {
  color: var(--b-cssvar-ffffff);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_current_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color-inflected-to-segment-buffer);
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="1"],

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color-inflected-to-user-position);
  background: var(--b-cssvar-main-color-inflected-to-user-position-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="0.5"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_current_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_current_slide[code="0"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
  transition: none;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_status .css_current_slide[code="0"],

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_status_text .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_status .css_current_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_status_text .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_status .css_slide_fade_out,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_status_text .css_slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_stretch {
  position: absolute;
  top: 7.5px;
  right: 10px;
  height: 35px;
  width: 35px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 25px;
  background: var(--b-cssvar-f9f9fb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_stretch {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_stretch {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_stretch svg {
  width: 17px;
  height: 17px;
  transform: rotate(0deg);
  transition: transform var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_stretch svg path {
  fill: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-b));
}

.css_route_field .css_route_groups .css_route_group .css_item[stretched="true"] .css_head .css_stretch svg {
  transform: rotate(180deg);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_buses,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes {
  position: absolute;
  top: 45px;
  left: 0px;
  width: calc(100% - 10px);
  height: 121px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  word-break: keep-all;
  border-radius: 15px;
  display: none;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_buses[displayed="true"],
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes[displayed="true"] {
  display: block;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_route {
  position: relative;
  width: calc(var(--b-cssvar-r-fw) * 0.6);
  height: 121px;
  box-sizing: border-box;
  background: var(--b-cssvar-f9f9fb);
  border-radius: 15px;
  display: inline-flex;
  margin-right: 5px;
  scroll-snap-align: center;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_bus,
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_overlapping_route {
  background: rgba(var(--b-cssvar-ededf2-inflected-to-segment-buffer-r), var(--b-cssvar-ededf2-inflected-to-segment-buffer-g), var(--b-cssvar-ededf2-inflected-to-segment-buffer-b), var(--b-cssvar-ededf2-opacity-a))
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_bus,
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_overlapping_route {
  background: rgba(var(--b-cssvar-ededf2-inflected-to-user-position-r), var(--b-cssvar-ededf2-inflected-to-user-position-g), var(--b-cssvar-ededf2-inflected-to-user-position-b), var(--b-cssvar-ededf2-opacity-a))
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus[on-this-route="true"] {
  background: rgba(var(--b-cssvar-main-color-r), var(--b-cssvar-main-color-g), var(--b-cssvar-main-color-b), var(--b-cssvar-main-color-opacity-d));
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_bus[on-this-route="true"] {
  background: rgba(var(--b-cssvar-main-color-inflected-to-segment-buffer-r), var(--b-cssvar-main-color-inflected-to-segment-buffer-g), var(--b-cssvar-main-color-inflected-to-segment-buffer-b), var(--b-cssvar-main-color-opacity-d));
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_bus[on-this-route="true"] {
  background: rgba(var(--b-cssvar-main-color-inflected-to-user-position-r), var(--b-cssvar-main-color-inflected-to-user-position-g), var(--b-cssvar-main-color-inflected-to-user-position-b), var(--b-cssvar-main-color-opacity-d));
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus:last-child,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_route:last-child {
  margin-right: 0px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_bus_title,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_title {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 20px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_bus_title .css_car_icon,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_bus_title .css_car_icon svg path,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_title .css_overlapping_route_icon svg path {
  fill: var(--b-cssvar-333333);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_bus_title .css_car_icon svg,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_title .css_overlapping_route_icon svg {
  width: 20px;
  height: 20px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_bus_title .css_car_number,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_title .css_overlapping_route_name {
  position: absolute;
  top: 0px;
  left: 25px;
  width: calc(100% - 35px);
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes {
  position: absolute;
  top: 36px;
  left: 10px;
  width: calc(100% - 20px);
  height: 75px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_route,
.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_status,
.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_type {
  font-size: 17px;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 25px;
  color: var(--b-cssvar-333333);
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  align-items: center;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_route {
  top: 0px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_status {
  top: 25px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_bus .css_car_attributes .css_car_type {
  top: 50px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_buses .css_buses_message,
.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_routes .css_overlapping_route_message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-c));
  white-space: nowrap;
  word-break: keep-all;
  font-size: 16px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_route .css_overlapping_route_endpoints {
  position: absolute;
  top: 35px;
  left: 10px;
  width: calc(100% - 20px);
  height: 40px;
  font-size: 20px;
  display: flex;
  white-space: nowrap;
  word-break: keep-all;
  justify-content: space-between;
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-b));
  overflow: hidden;
  align-items: center;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_route .css_overlapping_route_actions {
  position: absolute;
  top: 75px;
  left: 10px;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 36px;
  padding: 0px;
  grid-column-gap: 5px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_overlapping_route .css_overlapping_route_actions .css_overlapping_route_action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--b-cssvar-ededf2);
  border-radius: 30px;
  color: var(--b-cssvar-333333);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_overlapping_route .css_overlapping_route_actions .css_overlapping_route_action_button {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_overlapping_route .css_overlapping_route_actions .css_overlapping_route_action_button {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field[skeleton-screen="true"] .css_route_head .css_route_name span {
  color: rgba(0, 0, 0, 0);
  background: var(--b-cssvar-ededf2);
  border-radius: 30px;
}

.css_route_field[skeleton-screen="true"] .css_route_head .css_route_group_tabs .css_route_group_tab span {
  color: rgba(0, 0, 0, 0);
  background: var(--b-cssvar-ededf2);
  border-radius: 30px;
}

.css_route_field[skeleton-screen="true"] .css_route_head .css_route_group_tab_line_track .css_route_group_tab_line {
  display: none;
}

.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="false"] {
  transition: height var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_status .css_current_slide {
  color: rgba(0, 0, 0, 0);
  background: var(--b-cssvar-ededf2);
}

.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_name {
  color: rgba(0, 0, 0, 0);
  background: var(--b-cssvar-ededf2);
  top: 7.5px;
  height: 35px;
  border-radius: 30px;
}

.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_stretch {
  background: var(--b-cssvar-ededf2);
}

.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_stretch svg {
  display: none;
}

.css_route_field[skeleton-screen="true"] .css_route_head .css_route_name span,
.css_route_field[skeleton-screen="true"] .css_route_head .css_route_group_tabs .css_route_group_tab span,
.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_status .css_current_slide,
.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_name,
.css_route_field .css_route_groups .css_route_group .css_item[skeleton-screen="true"] .css_head .css_stretch {
  background: var(--b-cssvar-ededf2);
  background: linear-gradient(-90deg, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 0%, rgba(var(--b-cssvar-f9f9fb-r), var(--b-cssvar-f9f9fb-g), var(--b-cssvar-f9f9fb-b), 0.5) 50%, rgba(var(--b-cssvar-ededf2-r), var(--b-cssvar-ededf2-g), var(--b-cssvar-ededf2-b), 0.5) 100%);
  background-size: 400% 400%;
  background-position-x: 0% 0%;
  animation: skeleton-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}