/* thread > status */

/* item > status */

.css_route_field .css_route_groups .css_route_group .css_item .css_status {
  position: absolute;
  top: 20px;
  left: 22.5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--b-cssvar-ededf2);
  z-index: 2;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: nowrap;
  word-break: keep-all;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  background: var(--b-cssvar-ededf2);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide {
  height: 10px;
  width: 10px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide {
  width: 50px;
  height: 25px;
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="3"] {
  color: rgba(var(--b-cssvar-333333-r), var(--b-cssvar-333333-g), var(--b-cssvar-333333-b), var(--b-cssvar-333333-opacity-c));
  font-size: 13px;
  font-weight: 500;
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="2"] {
  color: var(--b-cssvar-ffffff);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-cssvar-main-color-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_current_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color-inflected-to-segment-buffer);
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="1"],

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="1"] {
  color: var(--b-cssvar-main-color-inflected-to-user-position);
  background: var(--b-cssvar-main-color-inflected-to-user-position-solid-transparent-c);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="0.5"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_current_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_current_slide[code="0"] {
  color: var(--b-cssvar-333333);
  font-size: 15px;
  font-weight: 700;
  transition: none;
}

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_status .css_current_slide[code="0"],

.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[segment-buffer="true"] .css_head .css_name .css_item_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_status .css_current_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_item[nearest="true"] .css_head .css_name .css_item_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_item .css_status .css_slide_fade_out,
.css_route_field .css_route_groups .css_route_group .css_item .css_head .css_name .css_item_status .css_slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}
