/* thread box */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box {
  position: relative;
  left: 0px;
  height: 50px;
  width: 45px;
  /* background: var(--b-cssvar-ffffff-normal); */
  user-select: none;
  -webkit-user-select: none;
  overflow: visible;
  transition: none;
  contain: layout;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box:first-child {
  margin-top: 95px;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] {
  height: calc(50px + 171px);
}

/* animation: true && skeleton screen: false */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"] {
  transition: height var(--b-cssvar-transition-duration);
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] {
  background: var(--b-cssvar-f9f9fb-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] {
  background: var(--b-cssvar-f9f9fb-inflected-to-user-position);
}

/* thread box > thread */
@property --b-cssvar-thread-progress-a {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --b-cssvar-thread-progress-b {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread {
  position: absolute;
  top: calc((50px - 10px) / 2 + 10px);
  left: calc((45px - 2px) / 2);
  width: 2px;
  height: calc(100% - 10px);
  background: linear-gradient(180deg, var(--b-cssvar-ededf2) 0%, var(--b-cssvar-ededf2) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2) 100%);
  z-index: 2;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"] .css_route_group_thread {
  transition: --b-cssvar-thread-progress-a var(--b-cssvar-transition-duration), --b-cssvar-thread-progress-b var(--b-cssvar-transition-duration);
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box:last-child .css_route_group_thread {
  display: none;
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread {
  background: linear-gradient(180deg, var(--b-cssvar-ededf2-inflected-to-segment-buffer) 0%, var(--b-cssvar-ededf2-inflected-to-segment-buffer) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color-inflected-to-segment-buffer) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color-inflected-to-segment-buffer) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2-inflected-to-segment-buffer) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2-inflected-to-segment-buffer) 100%);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread {
  background: linear-gradient(180deg, var(--b-cssvar-ededf2-inflected-to-user-position) 0%, var(--b-cssvar-ededf2-inflected-to-user-position) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color-inflected-to-user-position) var(--b-cssvar-thread-progress-a), var(--b-cssvar-main-color-inflected-to-user-position) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2-inflected-to-user-position) var(--b-cssvar-thread-progress-b), var(--b-cssvar-ededf2-inflected-to-user-position) 100%);
}

/* thread box > thread > status */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status {
  position: absolute;
  top: calc((50px - 10px) / 2);
  left: calc((45px - 10px) / 2);
  width: 10px;
  height: 10px;
  background: var(--b-cssvar-ededf2);
  border-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  -webkit-user-select: none;
  user-select: none;
}

/* skeleton screen: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread_status .css_current_slide {
  display: none;
}

/* code: 7 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2);
}

/* code: 7 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 7 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 6, 5, 4, 3 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2);
}

/* code: 6, 5, 4, 3 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 6, 5, 4, 3 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 2 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color);
}

/* code: 2 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

/* code: 2 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

/* code: 1 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-solid-transparent-c);
}

/* code: 1 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer-solid-transparent-c);
}

/* code: 1 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position-solid-transparent-c);
}

/* code: 0.5 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 0.5 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="0"] {
  transition: none;
}

/* code: 0 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 0 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* fadeout */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}