/*
@property --b-cssvar-css-route-group-thread-box-x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}
*/

@property --b-cssvar-css-route-group-thread-box-y {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --b-cssvar-css-route-group-thread-z-index {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

/* thread box space top */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box_space_top {
  position: relative;
  width: 45px;
  height: 95px;
  background: transparent;
}

/* thread box */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box {
  position: relative;
  left: 0px;
  height: 50px;
  width: 45px;
  overflow: visible;
  will-change: transform;
  z-index: var(--b-cssvar-css-route-group-thread-z-index);
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box:last-child {
  margin-bottom: var(--b-cssvar-safe-area-bottom);
}

/* stretching: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretching="true"] {
  position: absolute;
  /* left: var(--b-cssvar-css-route-group-thread-box-x); */
  left: 0px;
  top: var(--b-cssvar-css-route-group-thread-box-y);
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] {
  height: calc(50px + 171px);
  /* head: 50px + body: 171px */
}

/* push-direction: 0 && push-state: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="0"][push-state="0"] {
  transform: translateY(0px);
}

/* push-direction: 0 && push-state: 1 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="0"][push-state="1"] {
  transform: translateY(0px);
}

/* push-direction: 0 && push-state: 2 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="0"][push-state="2"] {
  transform: translateY(0px);
}

/* push-direction: 1 && push-state: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="1"][push-state="0"] {
  transform: translateY(0px);
}

/* push-direction: 1 && push-state: 1 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="1"][push-state="1"] {
  transform: translateY(50px);
  /* compensate the height of the already collapsed element separated from the document flow */
}

/* push-direction: 1 && push-state: 2 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="1"][push-state="2"] {
  transform: translateY(calc(50px + 171px));
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* push-direction: 2 && push-state: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="2"][push-state="0"] {
  transform: translateY(0px);
}

/* push-direction: 2 && push-state: 1 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="2"][push-state="1"] {
  transform: translateY(calc(50px + 171px));
  /* compensate the height of the already expanded element separated from the document flow */
}

/* push-direction: 2 && push-state: 2 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[push-direction="2"][push-state="2"] {
  transform: translateY(50px);
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* thread box > background */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_box_background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 50px;
  background: var(--b-cssvar-ffffff-normal);
  transform-origin: top left;
  z-index: -1;
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_box_background {
  background: var(--b-cssvar-f9f9fb-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_box_background {
  background: var(--b-cssvar-f9f9fb-inflected-to-user-position);
}

/* animation: true && skeleton screen: false && push-direction: 0 && push-state: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"][push-direction="0"][push-state="0"] .css_route_group_thread_box_background {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] .css_route_group_thread_box_background {
  transform: scaleY(calc((50 + 171) / 50));
}

/* thread box > thread */
@property --b-cssvar-thread-progress-translate-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -100%;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread {
  position: absolute;
  top: calc((50px - 10px) / 2 + 10px);
  left: calc((45px - 2px) / 2);
  width: 2px;
  height: calc(50px - 10px);
  background: var(--b-cssvar-ededf2);
  z-index: 2;
  overflow: clip;
  contain: layout;
  transform-origin: top left;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box:last-child .css_route_group_thread {
  visibility: hidden;
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* animation: true && skeleton screen: false && push-direction: 0 && push-state: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"][push-direction="0"][push-state="0"] .css_route_group_thread {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] .css_route_group_thread {
  transform: scaleY(calc((50 + 171 - 10) / (50 - 10)));
}

/* thread box > thread > progress */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread .css_route_group_thread_progress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: calc(50px - 10px);
  background: var(--b-cssvar-main-color);
  transform-origin: top left;
  transform: translateY(var(--b-cssvar-thread-progress-translate-y));
}

/* displayed: false */
.css_route_field[displayed="true"] .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread .css_route_group_thread_progress[displayed="false"] {
  visibility: hidden;
}

/* displayed: true */
.css_route_field[displayed="true"] .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread .css_route_group_thread_progress[displayed="true"] {
  visibility: visible;
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread .css_route_group_thread_progress {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread .css_route_group_thread_progress {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

/* animation: true && skeleton screen: false */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"] .css_route_group_thread .css_route_group_thread_progress {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] .css_route_group_thread .css_route_group_thread_progress {
  transform: translateY(var(--b-cssvar-thread-progress-translate-y));
}


.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread .css_route_group_thread_progress::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: var(--b-cssvar-main-color);
  transform: scaleY(1) translateY(-1px);
  transform-origin: top left;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"] .css_route_group_thread .css_route_group_thread_progress::before {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] .css_route_group_thread .css_route_group_thread_progress::before {
  transform: scaleY(calc((50 - 10) / (50 + 171 - 10))) translateY(-1px);
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread .css_route_group_thread_progress::before {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread .css_route_group_thread_progress::before {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread .css_route_group_thread_progress::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: var(--b-cssvar-main-color);
  transform: scaleY(1) translateY(1px);
  transform-origin: bottom left;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[animation="true"][skeleton-screen="false"] .css_route_group_thread .css_route_group_thread_progress::after {
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: ease;
}

/* stretched: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[stretched="true"] .css_route_group_thread .css_route_group_thread_progress::after {
  transform: scaleY(calc((50 - 10) / (50 + 171 - 10))) translateY(1px);
}

/* segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread .css_route_group_thread_progress::after {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

/* nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread .css_route_group_thread_progress::after {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

/* thread box > thread > status */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status {
  position: absolute;
  top: calc((50px - 10px) / 2);
  left: calc((45px - 10px) / 2);
  width: 10px;
  height: 10px;
  background: var(--b-cssvar-ededf2);
  border-radius: 5px;
  overflow: clip;
  contain: layout;
}

.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
}

/* skeleton screen: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread_status .css_next_slide,
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[skeleton-screen="true"] .css_route_group_thread_status .css_current_slide {
  visibility: hidden;
}

/* displayed: false */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[displayed="false"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[displayed="false"] {
  visibility: hidden;
}

/* code: 7 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2);
}

/* code: 7 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 7 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="7"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="7"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 6, 5, 4, 3 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2);
}

/* code: 6, 5, 4, 3 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 6, 5, 4, 3 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="3"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="6"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="4"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="3"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 2 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color);
}

/* code: 2 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer);
}

/* code: 2 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="2"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="2"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position);
}

/* code: 1 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-22-flattened);
}

/* code: 1 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-inflected-to-segment-buffer-22-flattened);
}

/* code: 1 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="1"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="1"] {
  background: var(--b-cssvar-main-color-inflected-to-user-position-22-flattened);
}

/* code: 0.5 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 0.5 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="0.5"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="0.5"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* code: 0 */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2);
}

/* code: 0 && segment buffer: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[segment-buffer="true"] .css_route_group_thread_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-segment-buffer);
}

/* code: 0 && nearest: true */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_next_slide[code="0"],
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box[nearest="true"] .css_route_group_thread_status .css_current_slide[code="0"] {
  background: var(--b-cssvar-ededf2-inflected-to-user-position);
}

/* fadeout */
.css_route_field .css_route_groups .css_route_group .css_route_group_tracks .css_route_group_threads_track .css_route_group_thread_box .css_route_group_thread_status .css_slide_fade_out {
  animation-name: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: var(--b-cssvar-transition-duration);
  animation-fill-mode: forwards;
}