@property --b-cssvar-location-field-width {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --b-cssvar-location-field-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --b-cssvar-location-group-quantity {
  syntax: '<number>';
  inherits: false;
  initial-value: 2;
}

.css_location_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-cssvar-ffffff-normal);
  display: block;
  visibility: hidden;
}

.css_location_field[displayed="true"] {
  visibility: visible;
}