.css_location_field .css_location_groups {
  --b-cssvar-location-field-width: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(var(--b-cssvar-location-group-quantity), var(--b-cssvar-location-field-width));
}

.css_location_field .css_location_groups::-webkit-scrollbar {
  display: none;
}

.css_location_field .css_location_groups .css_location_group {
  --b-cssvar-location-field-width: inherit;
  --b-cssvar-location-field-height: inherit;
  position: relative;
  top: 0px;
  left: 0px;
  width: var(--b-cssvar-location-field-width);
  height: var(--b-cssvar-location-field-height);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-align: center;
}

.css_location_field .css_location_groups .css_location_group::-webkit-scrollbar {
  display: none;
}