.css_location_field .css_location_groups .css_location_group .css_location_group_details {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 95px;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body {
  position: relative;
  top: 0px;
  left: 10px;
  width: calc(100% - 20px);
  height: auto;
  display: inline-block;
  background: var(--b-cssvar-ffffff-normal);
  border: 1px solid var(--b-cssvar-f9f9fb-normal);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.1);
  border-radius: var(--b-cssvar-border-radius-normal);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property {
  position: relative;
  width: 100%;
  height: 30px;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property .css_location_details_property_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 30px;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property[skeleton-screen="true"] .css_location_details_property_icon {
  top: 5px;
  height: 20px;
  width: 20px;
  left: 10px;
  border-radius: var(--b-cssvar-border-radius-normal);
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property .css_location_details_property_icon span.css_material_symbols_rounded {
  position: absolute;
  top: calc((30px - 20px) / 2);
  left: calc((40px - 20px) / 2);
  width: 20px;
  height: 20px;
  color: var(--b-cssvar-333333);
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property[skeleton-screen="true"] .css_location_details_property_icon span.css_material_symbols_rounded {
  visibility: hidden;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property .css_location_details_property_value {
  position: absolute;
  top: 0px;
  left: 40px;
  width: calc(100% - 40px - 10px);
  height: 30px;
  color: var(--b-cssvar-333333);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  text-overflow: ellipsis;
}

.css_location_field .css_location_groups .css_location_group .css_location_group_details .css_location_group_details_body .css_location_group_details_property[skeleton-screen="true"] .css_location_details_property_value {
  top: 5px;
  height: 20px;
  border-radius: var(--b-cssvar-border-radius-normal);
}