@property --b-cssvar-location-tab-offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --b-cssvar-location-tab-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 30px;
}

@property --b-cssvar-location-tab-line-width-scale {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --b-cssvar-location-tabs-tray-offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --b-cssvar-location-tabs-tray-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --b-cssvar-location-percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --b-cssvar-location-update-timer-scale-x {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --b-cssvar-location-update-timer-interval {
  syntax: '<time>';
  inherits: false;
  initial-value: 0ms;
}

.css_location_field .css_location_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  background: var(--b-cssvar-large-head-background);
  backdrop-filter: var(--b-cssvar-backdrop-filter);
  -webkit-backdrop-filter: var(--b-cssvar-backdrop-filter);
}

.css_location_field .css_location_head .css_location_button_left,
.css_location_field .css_location_head .css_location_button_right {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_location_field .css_location_head .css_location_button_left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.css_location_field .css_location_head .css_location_button_right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.css_location_field .css_location_head .css_location_button_left span.css_material_symbols_rounded,
.css_location_field .css_location_head .css_location_button_right span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--b-cssvar-333333);
}

.css_location_field .css_location_head .css_location_name {
  position: absolute;
  top: 0px;
  left: 55px;
  width: calc(100% - 110px);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  white-space: nowrap;
  word-break: keep-all;
  overflow: clip;
  contain: layout;
}

.css_location_field .css_location_head .css_location_name[skeleton-screen="true"] span {
  color: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-large);
}

.css_location_field .css_location_head .css_location_group_tabs {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 40px;
  /* mask-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 15%,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 65%,
      rgba(0, 0, 0, 0.7) 85%,
      rgba(0, 0, 0, 0.3) 100%); */
  mask-repeat: no-repeat;
  overflow: clip;
  contain: layout;
}

.css_location_field .css_location_head .css_location_group_tabs .css_location_group_tabs_tray {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--b-cssvar-location-tabs-tray-width);
  height: 40px;
  overflow: clip;
  transform: translateX(var(--b-cssvar-location-tabs-tray-offset));
  contain: layout;
}

.css_location_field .css_location_head .css_location_group_tabs .css_location_group_tabs_tray .css_location_group_tab {
  position: absolute;
  top: 0px;
  left: var(--b-cssvar-location-tab-offset);
  width: var(--b-cssvar-location-tab-width);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  overflow: clip;
  white-space: nowrap;
  word-break: keep-all;
  color: var(--b-cssvar-333333);
  /* vertical-align: top; */
  font-weight: 500;
  --b-cssvar-location-percentage: inherit;
  opacity: clamp(0.6, calc(1 - 0.4 * abs(var(--b-cssvar-location-percentage) - var(--b-cssvar-location-tab-index))), 1);
  contain: layout;
}

.css_location_field .css_location_head .css_location_group_tabs[skeleton-screen="true"] .css_location_group_tabs_tray .css_location_group_tab span {
  color: rgba(0, 0, 0, 0);
  border-radius: var(--b-cssvar-border-radius-large);
}

.css_location_field .css_location_head .css_location_group_tab_line_track {
  position: absolute;
  left: 0px;
  bottom: 1px;
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  contain: layout;
}

.css_location_field .css_location_head .css_location_group_tab_line_track .css_location_group_tab_line {
  background: var(--b-cssvar-333333);
  width: 1px;
  height: 2px;
  border-radius: var(--b-cssvar-border-radius-none);
  transform: scaleX(var(--b-cssvar-location-tab-line-width-scale));
  contain: layout;
}

.css_location_field .css_location_head .css_location_group_tab_line_track[skeleton-screen="true"] .css_location_group_tab_line {
  visibility: hidden;
}

.css_location_field .css_location_head .css_location_group_tab_line_track .css_location_group_tab_line::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 4px;
  height: 2px;
  border-radius: 2px;
  background: var(--b-cssvar-333333);
  transform: scaleX(calc(1 / var(--b-cssvar-location-tab-line-width-scale))) translateX(-2px);
  transform-origin: top left;
}

.css_location_field .css_location_head .css_location_group_tab_line_track .css_location_group_tab_line::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 4px;
  height: 2px;
  border-radius: 2px;
  background: var(--b-cssvar-333333);
  transform: scaleX(calc(1 / var(--b-cssvar-location-tab-line-width-scale))) translateX(2px);
  transform-origin: top right;
}

.css_location_field .css_location_head .css_location_update_timer_box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  overflow: clip;
  background: var(--b-cssvar-ededf2);
  contain: layout;
}

.css_location_field .css_location_head .css_location_update_timer_box .css_location_update_timer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--b-cssvar-333333-33-flattened);
  transform-origin: top left;
}

.css_location_field .css_location_head .css_location_update_timer_box .css_location_update_timer[refreshing="true"] {
  transform: scaleX(var(--b-cssvar-location-update-timer-scale-x));
  transition: transform var(--b-cssvar-transition-duration);
  transition-timing-function: linear;
}

.css_location_field .css_location_head .css_location_update_timer_box .css_location_update_timer.css_location_update_timer_slide_rtl {
  animation-name: scaledown;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: var(--b-cssvar-location-update-timer-interval);
}