.route_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--b-ffffff);
}

.route_field .route_groups {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(2, var(--b-ww));
}

.route_field .route_groups .route_grouped_items {
  position: relative;
  top: 0px;
  left: 0px;
  width: var(--b-ww);
  height: var(--b-wh);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-align: center;
}

.route_field .route_groups .route_grouped_items::-webkit-scrollbar,
.route_field .route_groups::-webkit-scrollbar,
.route_field .route_grouped .route_grouped_items .item .body .buses::-webkit-scrollbar {
  display: none;
}

.route_field .route_groups .route_grouped_items .item {
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  background: var(--b-ffffff);
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  transition: height var(--b-transition-duration);
}

.route_field .route_groups .route_grouped_items .item[stretched="true"] {
  height: 221px;
}

.route_field .route_groups .route_grouped_items .item .head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

.route_field .route_groups .route_grouped_items .item .body {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 171px;
  opacity: 0;
  transition: opacity var(--b-transition-duration);
}

.route_field .route_groups .route_grouped_items .item[stretched="true"] .body {
  opacity: 1;
}

.route_field .route_groups .route_grouped_items .item .body .tabs {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 35px;
  overflow-x: screen;
  overflow-y: hidden;
  white-space: nowrap;
  word-break: keep-all;
}

.route_field .route_groups .route_grouped_items .item .body .tabs .tab {
  position: relative;
  height: 35px;
  display: inline-flex;
  background: var(--b-e5e5ea);
  color: var(--b-333333);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 0px 9px;
  margin-right: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.route_field .route_groups .route_grouped_items .item .body .tabs .tab[selected="true"] {
  background: var(--b-333333);
  color: var(--b-ffffff);
}

.route_field .route_groups .route_grouped_items .item:last-child {
  margin-bottom: var(--o-safe-area-bottom);
}

.route_field .route_groups .route_grouped_items .item .head .status {
  position: absolute;
  top: 7.5px;
  left: 10px;
  height: 35px;
  width: 70px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b-333333);
  font-size: 13px;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 25px;
  background: var(--b-e5e5ea);
}

.route_field .route_groups .route_grouped_items .item .head .status[code="6"],
.route_field .route_groups .route_grouped_items .item .head .status[code="5"],
.route_field .route_groups .route_grouped_items .item .head .status[code="4"],
.route_field .route_groups .route_grouped_items .item .head .status[code="3"] {
  color: rgba(var(--b-333333-r), var(--b-333333-g), var(--b-333333-b), 0.6);
  font-size: 13px;
  font-weight: 500;
}

.route_field .route_groups .route_grouped_items .item .head .status[code="2"] {
  color: var(--b-ffffff);
  font-size: 15px;
  font-weight: 700;
  background: var(--b-main-color);
}

.route_field .route_groups .route_grouped_items .item .head .status[code="1"] {
  color: var(--b-333333);
  font-size: 15px;
  font-weight: 700;
  background: rgba(var(--b-main-color-r), var(--b-main-color-g), var(--b-main-color-b), 0.28);
}

.route_field .route_groups .route_grouped_items .item .head .status[code="0"] {
  color: var(--b-333333);
  font-size: 15px;
  font-weight: 700;
}

.route_field .route_groups .route_grouped_items .item .name {
  position: absolute;
  top: 5px;
  left: 90px;
  height: 40px;
  width: calc(100% - 20px - 70px - 40px - 20px);
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--b-333333);
  font-size: 20px;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
}

.route_field .route_groups .route_grouped_items .item .head .stretch {
  position: absolute;
  top: 7.5px;
  right: 10px;
  height: 35px;
  width: 35px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 25px;
  background: var(--b-e5e5ea);
  display: flex;
  align-items: center;
  justify-content: center;
}

.route_field .route_groups .route_grouped_items .item .head .stretch svg {
  width: 17px;
  height: 17px;
  transform: rotate(0deg);
  transition: transform var(--b-transition-duration);
}

.route_field .route_groups .route_grouped_items .item .head .stretch svg path {
  fill: var(--b-333333);
}

.route_field .route_groups .route_grouped_items .item[stretched="true"] .head .stretch svg {
  transform: rotate(180deg);
}

.route_field .route_groups .route_grouped_items .item .buses {
  position: absolute;
  top: 45px;
  left: 10px;
  width: calc(100% - 20px);
  height: 121px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  word-break: keep-all;
  border-radius: 15px;
}

.route_field .route_groups .route_grouped_items .item .bus {
  position: relative;
  width: calc(var(--b-ww) * 0.6);
  height: 121px;
  box-sizing: border-box;
  background: rgba(var(--b-e5e5ea-r), var(--b-e5e5ea-g), var(--b-e5e5ea-b), 0.6);
  border-radius: 15px;
  display: inline-flex;
  margin-right: 5px;
  scroll-snap-align: center;
}

.route_field .route_groups .route_grouped_items .item .bus[on-this-route="true"] {
  background: rgba(var(--b-main-color-r), var(--b-main-color-g), var(--b-main-color-b), 0.15);
}

.route_field .route_groups .route_grouped_items .item .bus:last-child {
  margin-right: 0px;
}

.route_field .route_groups .route_grouped_items .item .bus .bus_title {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 30px;
}

.route_field .route_groups .route_grouped_items .item .bus .bus_title .car_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route_field .route_groups .route_grouped_items .item .bus .bus_title .car_icon svg path {
  fill: var(--b-333333);
}

.route_field .route_groups .route_grouped_items .item .bus .bus_title .car_icon svg {
  width: 20px;
  height: 20px;
}

.route_field .route_groups .route_grouped_items .item .bus .bus_title .car_number {
  position: absolute;
  top: 0px;
  left: 30px;
  width: calc(100% - 30px);
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--b-333333);
  white-space: nowrap;
  word-break: keep-all;
}

.route_field .route_groups .route_grouped_items .item .bus .car_attributes {
  position: absolute;
  top: 40px;
  left: 15px;
  width: calc(100% - 30px);
  height: 66px;
}

.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_route,
.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_status,
.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_type {
  font-size: 17px;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 22px;
  color: var(--b-333333);
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}

.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_route {
  top: 0px;
}

.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_status {
  top: 22px;
}

.route_field .route_groups .route_grouped_items .item .bus .car_attributes .car_type {
  top: 44px;
}