:root {
  --b-main-color: #24aff5;
  --b-main-color-r: 36;
  --b-main-color-g: 175;
  --b-main-color-b: 245;

  --b-main-color-opacity-a: 1;
  --b-main-color-opacity-b: 0.8;
  --b-main-color-opacity-c: 0.28;
  --b-main-color-opacity-d: 0.11;

  --b-ffffff: #ffffff;
  --b-ffffff-r: 255;
  --b-ffffff-g: 255;
  --b-ffffff-b: 255;

  --b-f9f9fb: #f9f9fb;
  --b-f9f9fb-r: 249;
  --b-f9f9fb-g: 249;
  --b-f9f9fb-b: 251;

  --b-e5e5ea: #e5e5ea;
  --b-e5e5ea-r: 229;
  --b-e5e5ea-g: 229;
  --b-e5e5ea-b: 234;

  --b-aeaeb2: #aeaeb2;
  --b-aeaeb2-r: 174;
  --b-aeaeb2-g: 174;
  --b-aeaeb2-b: 178;

  --b-333333: #333333;
  --b-333333-r: 51;
  --b-333333-g: 51;
  --b-333333-b: 51;

  --b-333333-opacity-a: 1;
  --b-333333-opacity-b: 0.8;
  --b-333333-opacity-c: 0.6;
  --b-333333-opacity-d: 0.33;

  --b-border-radius-default: 15px;
  --b-border-radius-small: 8px;

  --b-transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {

    --b-main-color-opacity-a: 1;
    --b-main-color-opacity-b: 0.8;
    --b-main-color-opacity-c: 0.28;
    --b-main-color-opacity-d: 0.15;

    --b-ffffff: #050506;
    --b-ffffff-r: 5;
    --b-ffffff-g: 5;
    --b-ffffff-b: 6;

    --b-f9f9fb: #0e0e11;
    --b-f9f9fb-r: 14;
    --b-f9f9fb-g: 14;
    --b-f9f9fb-b: 17;

    --b-e5e5ea: #23232a;
    --b-e5e5ea-r: 35;
    --b-e5e5ea-g: 35;
    --b-e5e5ea-b: 42;

    --b-aeaeb2: #5a5a6c;
    --b-aeaeb2-r: 90;
    --b-aeaeb2-g: 90;
    --b-aeaeb2-b: 108;

    --b-333333: #f9f9fb;
    --b-333333-r: 255;
    --b-333333-g: 255;
    --b-333333-b: 255;

    --b-333333-opacity-a: 1;
    --b-333333-opacity-b: 0.8;
    --b-333333-opacity-c: 0.6;
    --b-333333-opacity-d: 0.33;
  }
}