name: Audit Dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'
  

jobs:
  build:
    runs-on: ubuntu-latest
    environment: audit-dependencies
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Restore cached dependencies
        id: restore-cached-dependencies
        uses: actions/cache/restore@v5
        with:
          path: |
            ./node_modules
            package-lock.json
          key: dependencies-${{ runner.os }}-${{ hashFiles('package.json') }}
          restore-keys: |
            dependencies-${{ runner.os }}-${{ hashFiles('package.json') }}

      - name: Audit dependencies
        run: npm audit