name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore cached splash screen
        id: restore-cached-splash-screen
        uses: actions/cache/restore@v5
        with:
          path: ./dist/splash-screen
          key: bus-splash-screen-${{ hashFiles('generate-splash-screen.js') }}-${{ hashFiles('splash-screen-device-data.json') }}
          restore-keys: |
            bus-splash-screen-${{ hashFiles('generate-splash-screen.js') }}-${{ hashFiles('splash-screen-device-data.json') }}

      - name: Generate splash screen
        run: node generate-splash-screen.js
      
      - name: Cache Splash Screen
        id: cache-splash-screen
        uses: actions/cache/save@v5
        with:
          path: ./dist/splash-screen
          key: ${{ steps.restore-cached-splash-screen.outputs.cache-primary-key }}

      - name: Build project
        run: npm run build

      - name: Copy things to ./dist/
        run: |
          cp -r ./icons/ ./dist/icons/
          cp -r ./manifest.json ./dist/manifest.json
          cp -r ./open-graph-image.png ./dist/open-graph-image.png
        # cp -r ./splash-screen/ ./dist/splash-screen/

      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d dist -u "github-actions-bot <support+actions@github.com>" -b dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # -d: directory, -b: branch, -u: user
