name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev-initialize

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Restore cached dependencies
        id: restore-cached-dependencies
        uses: actions/cache/restore@v5
        with:
          path: |
            ./node_modules
            package-lock.json
          key: dependencies-${{ runner.os }}-${{ hashFiles('package.json') }}
          restore-keys: |
            dependencies-${{ runner.os }}-${{ hashFiles('package.json') }}

      - name: Install dependencies
        run: npm install

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache/save@v5
        if: steps.restore-cached-dependencies.outputs.cache-hit != 'true'
        with:
          path: |
            ./node_modules
            package-lock.json
          key: ${{ steps.restore-cached-dependencies.outputs.cache-primary-key }}

      - name: Restore cached splash screen
        id: restore-cached-splash-screen
        uses: actions/cache/restore@v5
        with:
          path: ./dist/splash-screen
          key: bus-splash-screen-${{ hashFiles('generate-splash-screen.js') }}-${{ hashFiles('splash-screen-device-data.json') }}
          restore-keys: |
            bus-splash-screen-${{ hashFiles('generate-splash-screen.js') }}-${{ hashFiles('splash-screen-device-data.json') }}

      - name: Generate splash screen
        if: steps.restore-cached-splash-screen.outputs.cache-hit != 'true'
        run: node generate-splash-screen.js
      
      - name: Cache splash screen
        id: cache-splash-screen
        uses: actions/cache/save@v5
        if: steps.restore-cached-splash-screen.outputs.cache-hit != 'true'
        with:
          path: ./dist/splash-screen
          key: ${{ steps.restore-cached-splash-screen.outputs.cache-primary-key }}
      
      - name: Generate version.json
        run: node version.js

      - name: Build project
        run: npx webpack --mode=production

      - name: Copy things to ./dist/
        run: |
          cp -r ./icons/ ./dist/icons/
          cp -r ./manifest.json ./dist/manifest.json
          cp -r ./open-graph-image.png ./dist/open-graph-image.png

      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d dist -u "github-actions-bot <support+actions@github.com>" -b dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # -d: directory, -b: branch, -u: user, -a: add
